<style>
.confirmclass{
    padding:19px;
    color:black;
    font-family: "Gill Sans", sans-serif;
    margin-left:19px;
}

#entry{
    padding:10px;
    font-size:20px;
    background:none;
    border:none;
    opactiy:0.95;
    box-shadow:1px 1px 1px;
    border-radius:10px;
}
.codeerror{
    color:red;
    font-size:15px;
}
#btn{
    margin-left:40px;
    background:none;
    border:2px solid #64dd17;
    border-radius:10px;
    padding:18px;
}
</style>
<div class="confirm">
    <form class="confirmclass" method="post" action="/Auth/confirm">
        {% csrf_token %}
        <input type="hidden" name="email" value="{{email}}">
        <label for="textconfirm">Vous devez confirmer votre adresse email</label>
        <input id="entry" type="number" value="" name="code" id="textconfirm" placeholder="#######"/>
        <br>
        <br>
        <input id="btn" type="submit" value="Confirmer" />
        <p class="codeerror">{{codeerror}}</p>
    </form>
</div>