{% extends 'Ba.html'%}
    {% include 'icon.html'%}
    {% load static %}
    {% block besoin %}
    <link href="{% static 'forum/main.css'%}" rel="stylesheet">
    <link href="{% static 'forum/file.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'forum/file.css'%}"/>
    <script type="text/javascript" src="{% static 'forum/main.js'%}"></script>
    <script type="text/javascript" src="{% static 'forum/jquery.js'%}"></script>

    <script type="text/javascript" src="{% static 'forum/select2.js'%}"></script>
    <link href="{% static 'forum/select2.css'%}" rel="stylesheet">
    <link href="{% static 'forum/select2-bootstrap.css'%}" rel="stylesheet">

    {% endblock %}

{% block body %}
        <div id="content" class="content">

<section class="section-sm">
    <div id="forum" class="container frame">

<div id="yw0" class="list-view">
<div class="items">
{% for message in messages %}
<div class="forum-item" id="p997">
    <div class="row">
        <div class="hidden-xs col-sm-2">
            <div class="text-center">
            <img class="img-thumbnail" src="/media/{{message.personne.photo}}" alt="">        <p class="margin-top-xs">
        <b>{{message.personne.username}}</b><br>
    </p>
</div>        </div>
        <div class="col-xs-12 col-sm-10">
            <div class="row">
                <div class="col-xs-8">
                    <p>
                        <span class="visible-xs"><b>{{message.personne.prenom}}</b></span>
                        <span class="small">{{message.date}}</span>
                    </p>
                </div>

               {% if message.personne.username == request.session.username %}
                    <div class="col-xs-4">
                        <a style="text-decoration:none" style="color:white" href="{% url 'Home:deletemessage'%}?id={{message.id}}">delete</a>
                    </div>
                {% endif %}
            </div>

            <div class="forum-text bbcode">
                <p><strong style="font-size:19px">Sujet :</strong>  {{message.subject}} </p><br><div dir="ltr">{{message.message}}<br>                       </div>
                                    <p></p>
            </div>

        </div>
    </div>
</div>

{% endfor %}
</div>
<div class="writemessage">
<form method="post" action="{% url 'Home:forum'%}">
    {% csrf_token %}
    <div class="subjectcl">
        <label for="subject">Sujet </label>
        <input name="subject" value="" placeholder="Sujet" id = "subject"/>
    </div>
    <br><br>
    <div class="messagecl">
        <label for="message">Message </label>
        <input name="message" value="" placeholder="Message" id="message"/>
    </div>
    <p style="color:red">{{erreur}}</p>
    <div class="btn-sub">
        <button>Send</button>
    </div>
</form>
</div>
<nav class="text-center content-item"><div class="pagination"><ul id="yw11" class="yiiPager">
    {% if messages.has_previous %}
        <li class="previous"><a href="{% url 'Home:forum'%}?page={{messages.previous_page_number}}">&lt;</a></li>
    {% endif %}
    {% if messages.has_next%}
        <li class="next"><a href="{% url 'Home:forum'%}?page={{messages.next_page_number}}">&gt;</a></li>
    {% endif %}

</ul></div></nav><div class="keys" style="display:none" title="/fr/forum/topic/275"><span>997</span><span>1012</span><span>1041</span><span>1895</span><span>1906</span><span>5313</span><span>5538</span><span>5562</span><span>8350</span><span>8694</span></div>
</div>    </div>
</section>


        </div><!-- content -->
{% endblock %}