{% extends 'Ba.html'%}
{% load static %}
{% block besoin %}
    <link href="{% static 'css/style.css'%}" rel="stylesheet"/>
{% endblock %}
{% block body %}
<section>
    <div class="redemittel">
        <p>Redemittel</p>
    </div>
    <div class="contenu">
        <div class="schreiben-enonce">
            <div class="schreiben">
                <div class="schreiben-sujet">
                    <p2>Théma ist " {{exercice.sujet}} " </p2>
                </div>
                <div class="schreiben-text">
                    <p>{{exercice.text}}</p>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="schreiben-reponse">
            <form action="{% url 'Schreiben:homeschreiben'%}" method="post">
                {% csrf_token %}
                <input name="id" value="{{exercice.id}}" type="hidden"/>
                <textarea id="schreiben" name="schreiben" value="" placeholder="Gebe deine schreiben hier" maxlength="500 wörter"></textarea>
                <br><br>
                <div class="btn-submit">
                    <input type="submit" value="Senden">
                </div>
            </form>

        </div>
    </div>
</section>
{% endblock %}