{% extends 'Ba.html'%}
{% load static %}
{% block besoin %}
    <link href="{% static 'css/style.css'%}" rel="stylesheet"/>
{% endblock %}
{% block body %}
<section>
    <h1>Correction</h1>
    <h1>Schreiben :</h1>
    <div class="schreiben">
        <p>Salut {{reponse.exercice.text}}</p>
    </div>
    <form method="post" action="{% url 'Schreiben:correction'%}">
        <div class="">
            <input name="id" value="{{response.id}}" type="hidden"/>
            <input name="idperso" value="{{response.id}}" type="hidden"/>
            <label for="corr">Correction</label>
            <textarea id = "corr" class="text-area" name="correction"></textarea>
            <label for="remarque">Remarque</label>
            <textarea class="text-area" name="remarque" id="remarque"></textarea>
        </div>
    </form>
</section>
{% endblock %}