body{
	background-color: #eeeeee;
	font-family: sans-serif;
}
.schreiben{
	border:2px solid rgb(243, 146, 31);
	border-radius: 20px;
	padding: 15px;
}
.schreiben-enonce{
	margin-bottom: 100px;
}
.schreiben .schreiben-sujet{
	color: rgb(243, 146, 31);
	font-weight: bold;
	font-size:19px;
	margin:20px;
}
.schreiben-reponse #schreiben{
	border:2px solid rgb(243, 146, 31);
	border-radius: 10px;
	padding: 20px;
	height: 480px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
section{
	display: flex;
	flex-direction: row;
}

.premiersection{
	border:2px solid black;
	border-radius:10px;
	background-color: white;
	padding: 15px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin:20px;
}
.deusiemesection{
	border:2px solid black;
	border-radius:10px;
	background-color: white;
	padding: 15px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin:20px;
}
.btn-submit{
	display: flex;
	justify-content: center;
}
.btn-submit input{
	background:none;
	border:2px solid rgb(243, 146, 31);
	border-radius: 20px;
	color:rgb(243, 146, 31);
	font-size: 20px;
	font-weight: bold;

	padding-top: 15px;
	padding-bottom: 15px;
	padding-left:80px;
	padding-right: 80px;
	text-align: center;
}
.btn-submit input:hover{
	color:white;
	background-color: rgb(243, 146, 31);
}
.correction-input{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin:20px;
}
.correction-input textarea{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 150px;
    border-radius: 20px;
    border:2px solid rgb(243, 146, 31);
    resize: none;
    padding:20px;
}
.correction-input label{
	margin-top: 60px;
	color:rgb(243, 146, 31);
	font-weight: bold;
}
form{
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}
.correction-input{

}