<!DOCTYPE html>
<html dir="ltr" class=" svg" lang="fr">
<head>
{% load static %}
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="language" content="fr">

    <link rel="apple-touch-icon" sizes="180x180" href="https://deutsch.info/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://deutsch.info/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://deutsch.info/favicon-16x16.png">

    <link href="{% static 'impressum/bootstrap.css'%}" rel="stylesheet">
    <link href="{% static 'impressum/main.css'%}" rel="stylesheet">
    <script src="{% static 'impressum/jquery-2.js'%}"></script>
    <script src="{% static 'impressum/jquery-ui.js'%}"></script>
    <script src="{% static 'impressum/jquery_002.js'%}"></script>
    <script src="{% static 'impressum/bootstrap.js'%}"></script>

    <script type="text/javascript" src="{% static 'impressum/main.js'%}"></script>
    <script type="text/javascript" src="{% static 'impressum/jquery.js'%}"></script>

    <script type="text/javascript" src="{% static 'impressum/select2.js'%}"></script>
    <link href="{% static 'impressum/select2.css'%}" rel="stylesheet">
    <link href="{% static 'impressum/select2-bootstrap.css'%}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'impressum/cookieconsent.css'%}">
    <script src="{% static 'impressum/cookieconsent.js'%}"></script>
    <title>Impressum - Deutsch lernen</title>
</head>

<body class="translation">

<div id="content" class="content">
{% include 'header.html' %}
<section class="section-sm box">
    <div class="container frame">
        <h1>Impressum</h1>

        <p class="big">Administrateur du site :</p>
        <div class="row svg-sm">
            <div class="col-md-12 margin-bottom-sm">
                <p>
                    Studio BGI S3<br>
                    Membres : Ziad Bougrine , Ayman abouhali , Yasser belaizi , Ahmed amine bouchakur,Selwa el moutaqi<br>
                    Université moulay ismail meknes Morroco<br>
                    FH-Aachen<br>
                    Deutschland
                </p>
                <p>
                    Tel.: +212 6 41 40 8306<br>
                    Internet: <a class="nowrap" href="http://www.bachmek.umi.ac.ma/" target="_blank">http://www.bachmek.umi.ac.ma/</a><br>
                    E-Mail: <a class="nowrap" href="mailto:germanlernen398@gmail.com">germanlernen398@gmail.com</a>
            </div>
        </div>


    </div>
</section>
</div><!-- content -->
{% include 'footer.html'%}
</body></html>