{% extends 'Ba.html'%}
{% load static %}

{% block body %}
<link href="{% static 'zhome/zhome.css'%}" rel="stylesheet">

<body class="translation"><div role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookieconsent:desc" class="cc-window cc-banner cc-type-info cc-theme-block cc-bottom cc-color-override--2053442320 cc-invisible" style="display: none;">
	<!--googleoff: all--><span id="cookieconsent:desc" class="cc-message">Ce site utilise des cookies pour améliorer son fonctionnement. <a aria-label="learn more about cookies" role="button" tabindex="0" class="cc-link" href="https://deutsch.info/fr/privacy" target="_blank">En savoir plus
</a></span><div class="cc-compliance"><a aria-label="dismiss cookie message" role="button" tabindex="0" class="cc-btn cc-dismiss">Accepter</a></div>
	<!--googleon: all--></div>



    <div id="wrapper">
		<a class="sr-only sr-only-focusable" href="#content">Aller au contenu</a>

        <div id="content" class="content">




<section class="section-sm">
    <div class="container frame">


        <ul class="cards list-inline list-unstyled row text-center equal-height" style="">
			<li class="col-sm-6 card card-bordered   h" style="">
                    <a href="/Grammar">
						<img class="img-responsive" src="{%static 'zhome/images.png'%}" alt="" style=" border :2px solid black; height:310px;padding:10px;">
						<div class="card-caption margin-top-sm"><p class="big" style="padding :5px; ">Grammar</p></div>

                    </a>
			</li>
			<li class="col-sm-6 card card-bordered   h" style="height: 448px;">
                    <a href="/Lesen">
						<img class="img-responsive" src="{% static 'zhome/yasserjpg.jpg'%}" alt="" style="width:300px;height:300px; border :2px solid black;padding:10px;">
						<div class="card-caption margin-top-sm"><p class="big" style="padding :45px; ">Lesen</p></div>

                    </a>
			</li>
			<li class="col-sm-6 card card-bordered   h" style="height: 448px;">
                    <a href="/Horen">
						<img class="img-responsive" src="{% static 'zhome/horen.png'%}" alt="" style="width:300px;height:300px; border :2px solid black;padding:10px;">
						<div class="card-caption margin-top-sm"><p class="big" style="padding :45px; ">Horen</p></div>

                    </a>
			</li>
			<li class="col-sm-6 card card-bordered   h" style="height: 448px;">
                    <a href="/Schreiben">
						<img class="img-responsive" src="{% static 'zhome/lesen.jpg'%}" alt="" style="width:300px;height:300px; border :2px solid black;padding:10px;">
						<div class="card-caption margin-top-sm"><p class="big" style="padding :45px; ">Schreiben</p></div>

                    </a>
			</li>
		</ul>

    </div>
</section>

        </div><!-- content -->


	</div>

{% endblock %}