{% extends 'Ba.html'%}
{% block body %}

{% load static %}
<link href="{% static 'Lesen_files/a.css'%}" rel="stylesheet">
<div class="content background-lightgrey" style="height: auto !important;">
	<div class="panel" id="exercise" style="height: auto !important;">
		<div class="fifty_left" style="height: auto !important;">
			<h1>Juliana in Deutschland</h1>
			<p>Juliana kommt aus Paris. Das ist die Hauptstadt von Frankreich. In diesem Sommer macht sie einen Sprachkurs in Freiburg. Das ist eine Universitätsstadt im Süden von Deutschland.</p>
			<p>Es gefällt ihr hier sehr gut. Morgens um neun beginnt der Unterricht, um vierzehn Uhr ist er zu Ende. In ihrer Klasse sind außer Juliana noch 14 weitere Schüler, acht Mädchen und sechs Jungen. Sie kommen alle aus Frankreich, aber nicht aus Paris.</p>
			<p>Julianas beste Freundin Marie macht auch gerade einen Sprachkurs, aber in Hamburg, das liegt ganz im Norden von Deutschland.</p>
			<p>Wenn die beiden ihre Schule beendet haben, wollen sie in Deutschland studieren. Juliana will Tierärztin werden, ihre beste Freundin auch. Aber Maries Eltern sind beide Zahnärzte, deshalb wird Marie wahrscheinlich auch Zahnärztin werden.</p>
			<p>Juliana und Marie verbringen insgesamt sechs Wochen in Deutschland. Nach dem Sprachkurs machen sie eine Prüfung.</p>

		</div>
		<div class="question-box"><div id="result73"></div>
			<div class="question-number">Frage 1:</div>
			<div class="question">Woher kommt Juliana?</div>
			<div class="answers long-answers" data-question="73" data-already-answered="0">
				<div class="answers-row">
					<div id="option73_1" class="answer active-answer option1" data-option="1" data-position="1"><span class="mc_number">a</span> aus Hamburg</div>
					<div id="option73_3" class="answer active-answer option3" data-option="3" data-position="2"><span class="mc_number">b</span> aus Freiburg</div>
				</div>
				<div class="answers-row"><div id="option73_2" class="answer active-answer option2" data-option="2" data-position="3"><span class="mc_number">c</span> aus Paris</div>
					<div id="option73_4" class="answer active-answer option4" data-option="4" data-position="4"><span class="mc_number">d</span> aus Deutschland</div>
				</div>
			</div>
		</div>
		<div class="question-box"><div id="result74"></div>
				<div class="question-number">Frage 2:</div>
				<div class="question">Wie viele Schüler sind in Julianas Sprachkurs?</div>
				<div class="answers " data-question="74" data-already-answered="0">
					<div class="answers-row">
						<div id="option74_2" class="answer active-answer option2" data-option="2" data-position="1"><span class="mc_number">a</span> 13</div>
						<div id="option74_3" class="answer active-answer option3" data-option="3" data-position="2"><span class="mc_number">b</span> 15</div>
					</div>
					<div class="answers-row"><div id="option74_4" class="answer active-answer option4" data-option="4" data-position="3"><span class="mc_number">c</span> 8</div>
						<div id="option74_1" class="answer active-answer option1" data-option="1" data-position="4"><span class="mc_number">d</span> 14</div>
					</div>
				</div>
			</div>
			<div class="question-box"><div id="result75"></div>
				<div class="question-number">Frage 3:</div>
				<div class="question">In welcher Stadt macht Marie einen Sprachkurs?</div>
				<div class="answers " data-question="75" data-already-answered="0">
					<div class="answers-row">
						<div id="option75_3" class="answer active-answer option3" data-option="3" data-position="1"><span class="mc_number">a</span> Paris</div>
						<div id="option75_2" class="answer active-answer option2" data-option="2" data-position="2"><span class="mc_number">b</span> Bremen</div>
					</div>
					<div class="answers-row">
						<div id="option75_1" class="answer active-answer option1" data-option="1" data-position="3"><span class="mc_number">c</span> Freiburg</div>
						<div id="option75_4" class="answer active-answer option4" data-option="4" data-position="4"><span class="mc_number">d</span> Hamburg</div>
					</div>
				</div>
			</div>
			<div class="question-box">
				<div id="result76"></div>
				<div class="question-number">Frage 4:</div>
				<div class="question">Warum macht Marie einen Sprachkurs?</div>
				<div class="answers long-answers" data-question="76" data-already-answered="0">
					<div class="answers-row">
						<div id="option76_3" class="answer active-answer option3" data-option="3" data-position="1"><span class="mc_number">a</span> Sie mag die deutsche Sprache</div>
						<div id="option76_2" class="answer active-answer option2" data-option="2" data-position="2"><span class="mc_number">b</span> Ihre Eltern leben in Deutschland</div>
					</div>
					<div class="answers-row">
						<div id="option76_1" class="answer active-answer option1" data-option="1" data-position="3"><span class="mc_number">c</span> Sie möchte in Deutschland studieren</div>
						<div id="option76_4" class="answer active-answer option4" data-option="4" data-position="4"><span class="mc_number">d</span> Sie hat einen deutschen Freund</div>
					</div>
				</div>
			</div>
			<div class="question-box">
				<div id="result77"></div>
				<div class="question-number">Frage 5:</div>
				<div class="question">Was möchte Juliana später werden?</div>
				<div class="answers " data-question="77" data-already-answered="0">
					<div class="answers-row">
						<div id="option77_2" class="answer active-answer option2" data-option="2" data-position="1"><span class="mc_number">a</span> Tierärztin</div>
						<div id="option77_3" class="answer active-answer option3" data-option="3" data-position="2"><span class="mc_number">b</span> Zahnärztin</div>
					</div>
					<div class="answers-row">
					<div id="option77_4" class="answer active-answer option4" data-option="4" data-position="3"><span class="mc_number">c</span> Anwältin</div>
					<div id="option77_1" class="answer active-answer option1" data-option="1" data-position="4"><span class="mc_number">d</span> Lehrerin</div>
					</div>
				</div>
			</div>
			<div style="border-top: 3px solid #E8E8E8; border-style: dotted; padding-top: 2%;">
				<div class="info not-finished">Bitte beantworte alle Fragen zum Text.<br>Du hast <b><span class="infofield-answered">0</span></b> von <b><span class="infofield-questions">5</span></b> Fragen beantwortet.</div>
			</div>
		</div>
	</div>
</div>
</div>

</div>

{% endblock %}