p.frage{
	font-size: 20px;
	font-family: verdana;
	color: orange;
	}



h2.MD {
	text-align: center;
	color: #0d5673;
	margin-bottom: 15px;
}
.frages {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.select {
    margin-bottom:5px;
    margin-left:500px;
    margin-top: 10px;
}
audio{
	filter: sepia(20%) saturate(20%)  contrast(99%) invert(12%)  drop-shadow(5px 5px 6px gray);
    width: 400px;
    height: 30px;

}
p.message {
	color: #0d5673;
	size: 15px;
}

input[type=submit]{
  background-color: #003366;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
  align-content: center;
  position:relative;left:-40px;width:100px;margin:0 50%;
  margin-top: 10px;
  margin-bottom: 15px;
}
