
.partie{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border:2px solid #0d5673;
  border-radius: 15px;
  margin-right: 420px;
  margin-left: 420px;
  margin-top: 25px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}


.premierepartie{
  padding: 30px;
  display: flex;
  flex-direction: column;
}
.audio{
    margin-left: 0px;
    margin-right: 50px;
    border-radius: 0px;
    background: none;
}
.deusiemepartie{
  margin-top: 40px;
  margin-right: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.frages p{
  text-align: center;
  font-size: 18px;
  color:#0d5673;
  margin-top: 20px;
}
.titre{
  font-weight: bold;
}
.footer-btn{
  display: flex;
  flex-direction: column;

}
.btn-submit{
  margin-left: 850px;
  margin-top: 50px;
}
.btn-submit input{
  color:#0d5673;
  background: none;
  padding-right:50px;
  padding-left:50px;
  padding-top: 15px;
  padding-bottom: 15px;
  border:2px solid #0d5673;
}
.btn-submit input:hover{
  color:white;
  background-color: #0d5673;
  border:none;
}