{% extends 'Ba.html'%}
{% block body %}
<section class="section-sm" style="height: auto !important;">
    <div class="container frame section-list" style="height: auto !important;">
        <!--        <h1 class="text-center">-->
        <!--</h1>-->
        <div class="content-item" id="adjectives_adjektive_praedikativer_gebrauch">
<h2 class="line-text important" title="" rel="tooltip" data-original-title="#adjectives_adjektive_praedikativer_gebrauch">Adjectifs utilisés en tant qu’attributs</h2>

<p>Les adjectifs utilisés comme attribut (qui sont indépendants dans la phrase) ont toujours la même forme, sans terminaison.</p>

<div class="grammar-examples grammar-block">

<div class="table-responsive">
    <table class="table">
                <tbody>
                <tr>
            <td>
                                <div id="sb_yw0_1_1610010971" class="sb sb-left " data-sound="">
                                    <span class="orig" dir="ltr">Der Mann ist schön.</span>
                                            </div>
            </td>
                            <td class="tr-only">= L’homme est beau.</td>
                                </tr><tr>
            <td>
                                <div id="sb_yw0_2_1610010971" class="sb sb-left " data-sound="">
                                    <span class="orig" dir="ltr">Die Frau ist schön.</span>
                                            </div>
            </td>
                            <td class="tr-only">= La femme est belle.</td>
                                </tr><tr>
            <td>
                                <div id="sb_yw0_3_1610010971" class="sb sb-left " data-sound="">
                                    <span class="orig" dir="ltr">Das Kind ist schön.</span>
                                            </div>
            </td>
                            <td class="tr-only">= L’enfant est beau.</td>
                                </tr><tr>
            <td>
                                <div id="sb_yw0_4_1610010971" class="sb sb-left " data-sound="">
                                    <span class="orig" dir="ltr">Die Leute sind schön.</span>
                                            </div>
            </td>
                            <td class="tr-only">= Les gens sont beaux.</td>
                                </tr><tr>
            <td>
                                <div id="sb_yw0_5_1610010971" class="sb sb-left " data-sound="">
                                    <span class="orig" dir="ltr">Ich bin süß.</span>
                                            </div>
            </td>
                            <td class="tr-only">= L’abricot est sucré.</td>
                                </tr><tr>
            <td>
                                <div id="sb_yw0_6_1610010971" class="sb sb-left " data-sound="">
                                    <span class="orig" dir="ltr">Ich bin fett.</span>
                                            </div>
            </td>
                            <td class="tr-only">= Le beurre est gras.</td>
                                </tr><tr>
            <td>
                                <div id="sb_yw0_7_1610010971" class="sb sb-left " data-sound="">
                                    <span class="orig" dir="ltr">Ich werde sauer.</span>
                                            </div>
            </td>
                            <td class="tr-only">= Le lait tourne.</td>
                                </tr></tbody>
    </table>
</div>
</div>
        </div>
    </div>
</section>
{% endblock %}