{% extends 'Ba.html' %}
{% block body %}
<section class="section-sm" style="height: auto !important;">

	<div class="container frame section-list"
		style="height: auto !important;">
		<!--        <h1 class="text-center">-->
		<!--</h1>-->
		<div class="content-item" id="adverbs_adverbien">
			<h2 class="line-text important" title="#adverbs_adverbien"
				rel="tooltip">Adverbes</h2>
 <button><a class="retour" href="{% url 'Grammar:menuCours'%}"> << MENU</a></button>
			<p>Les adverbes donnent des informations sur le lieu, le temps,
				la raison ou la manière d’une action. Ils se rapportent à un verbe
				et permettent d’exprimer quand, comment, où ou pourquoi quelque
				chose s’est passé. Les adverbes sont invariables et ne sont jamais
				déclinés. ll y a plusieurs types d’adverbes : de lieu, de temps, de
				cause et de manière.</p>

			<p>Les adverbes peuvent en outre être formés à partir d’autre
				types de mots (les noms et les adjectifs). Les adjectifs normaux
				peuvent aussi être employés comme adverbes. Dans ce cas, l’adverbe
				se distingue de l’adjectif par le fait qu’il ne décrive pas un nom,
				mais un verbe.</p>

			<div class="grammar-examples grammar-block">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Adjectif</th>
								<th>Adverbe</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div id="sb_yw0_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">
											Der <b>nette</b> (=Adjektiv) Mann (=Nomen)
										</div>



										<div class="tr-only">L’homme (=nom) gentil (=adjectif)</div>
									</div>
								</td>
								<td>
									<div id="sb_yw1_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">
											Der Mann lächelt (=Verb) <b>nett</b> (=Adverb).
										</div>



										<div class="tr-only">L’homme sourit (=verbe) gentiment
											(=adverbe).</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div id="sb_yw2_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">→ Wie ist der Mann?</div>



										<div class="tr-only">Comment est l’homme ?</div>
									</div>
								</td>
								<td>
									<div id="sb_yw3_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">→ Wie lächelt der Mann?</div>



										<div class="tr-only">Comment sourit l’homme ?</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div id="sb_yw4_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">“Nett” beschreibt das Nomen,
											in diesem Fall den Mann.</div>



										<div class="tr-only">« Gentil » décrit le nom, en
											l’occurrence l’homme.</div>
									</div>
								</td>
								<td>
									<div id="sb_yw5_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">“Nett” beschreibt das Verb
											näher, in diesem Fall das Verb lächeln.</div>



										<div class="tr-only">« Gentiment » décrit le verbe, en
											l’occurrence « sourit ».</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>




		<div class="content-item" id="adverbs_adverbien_bildung">
			<h2 class="line-text important" title="#adverbs_adverbien_bildung"
				rel="tooltip">Formation des adverbes</h2>

			<p>Les adverbes sont en partie dérivés d’autres types de mots par
				l’ajout de suffixes.</p>

			<ul>
				<li class="grammar-example">
					<p>Dérivation à partir de noms grâce à l’ajout d’un suffixe :</p>
					<div class="grammar-examples grammar-block">
						<dl class="dl-horizontal">
							<dt>-weise:</dt>
							<dd>
								<div id="sb_yw6_1_1610118521" class="sb sb-left" data-sound="">
									<div class="orig" dir="ltr">
										Als <b>Ersatz</b> für das Mehl können wir Mandeln verwenden.
										(Substantiv)
									</div>



									<div class="tr-only">En remplacement de la farine, on
										peut utiliser des amandes. (nom)</div>
								</div>
								<div id="sb_yw6_2_1610118521" class="sb sb-left" data-sound="">
									<div class="orig" dir="ltr">
										<b>Ersatzweise</b> können wir auch Mandeln verwenden. (Adverb)
									</div>



									<div class="tr-only">En remplacement, on peut aussi
										utiliser des amandes. (adverbe)</div>
								</div>
							</dd>
							<dt>-s:</dt>
							<dd>
								<div id="sb_yw7_1_1610118521" class="sb sb-left" data-sound="">
									<div class="orig" dir="ltr">
										<b>Am Morgen</b> putze ich mir die Zähne. (Substantiv)
									</div>



									<div class="tr-only">Le matin, je me lave les dents.
										(nom)</div>
								</div>
								<div id="sb_yw7_2_1610118521" class="sb sb-left" data-sound="">
									<div class="orig" dir="ltr">
										<b>Morgens</b> putze ich mir die Zähne. (Adverb)
									</div>



									<div class="tr-only">Le matin, je me lave les dents.
										(adverbe)</div>
								</div>
							</dd>
						</dl>
					</div>
				</li>
				<li class="grammar-example">
					<p>Dérivation à partir de certains adjectifs grâce à l’ajout
						d’un suffixe :</p>
					<div class="grammar-examples grammar-block">
						<dl class="dl-horizontal">
							<dt>-erweise:</dt>
							<dd>
								<div id="sb_yw8_1_1610118521" class="sb sb-left" data-sound="">
									<div class="orig" dir="ltr">
										Nur <b>zufällig</b> entdeckte ich dich in der Menge.
										(Adjektiv)
									</div>



									<div class="tr-only">Ce n’est que par hasard que je t’ai
										trouvé dans la foule.</div>
								</div>
								<div id="sb_yw8_2_1610118521" class="sb sb-left" data-sound="">
									<div class="orig" dir="ltr">
										Ich entdeckte dich nur <b>zufälligerweise</b> in der Menge.
										(Adverb)
									</div>



									<div class="tr-only">Ce n’est que par hasard que je t’ai
										trouvé dans la foule.</div>
								</div>
							</dd>
						</dl>
					</div>
				</li>
			</ul>
		</div>




		<div class="content-item" id="adverbs_lokaladverbien">
			<h2 class="line-text important" title="" rel="tooltip"
				data-original-title="#adverbs_lokaladverbien">Adverbes de lieu</h2>

			<div class="grammar-examples grammar-block">
				<div class="table-responsive">
					<dl class="dl-horizontal">
						<dt>Où ?</dt>
						<dd>
							<span id="sb_yw9_1_1610118521" class="sb sb-left " data-sound="">

								<span class="orig" dir="ltr">hinten</span> <span class="tr-only">(=
									derrière)</span>
							</span> , <span id="sb_yw9_2_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">vorne</span>

								<span class="tr-only">(= devant)</span>
							</span> , <span id="sb_yw9_3_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">da</span> <span
								class="tr-only">(= là)</span>
							</span> , <span id="sb_yw9_4_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">dort</span> <span
								class="tr-only">(= là-bas)</span>
							</span> , <span id="sb_yw9_5_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">oben</span> <span
								class="tr-only">(= en haut)</span>
							</span> , <span id="sb_yw9_6_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">unten</span>

								<span class="tr-only">(= en bas)</span>
							</span> , <span id="sb_yw9_7_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">hier</span> <span
								class="tr-only">(= ici)</span>
							</span> , <span id="sb_yw9_8_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">außen</span>

								<span class="tr-only">(= dehors)</span>
							</span> , <span id="sb_yw9_9_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">innen</span>

								<span class="tr-only">(= dedans)</span>
							</span> ...
						</dd>
						<dt>D’où ?</dt>
						<dd>
							<span id="sb_yw10_1_1610118521" class="sb sb-left " data-sound="">

								<span class="orig" dir="ltr">von links</span> <span
								class="tr-only">(= de la gauche)</span>
							</span> , <span id="sb_yw10_2_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">von
									oben</span> <span class="tr-only">(= d’en haut)</span>
							</span> , <span id="sb_yw10_3_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">von
									draußen</span> <span class="tr-only">(= de dehors)</span>
							</span> , <span id="sb_yw10_4_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">dorther</span>

								<span class="tr-only">(= de là-bas)</span>
							</span> , <span id="sb_yw10_5_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">daher</span>

								<span class="tr-only">(= de là)</span>
							</span> , <span id="sb_yw10_6_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">von
									dort</span> <span class="tr-only">(= de là-bas)</span>
							</span> ...
						</dd>
						<dt>Vers où ?</dt>
						<dd>
							<span id="sb_yw11_1_1610118521" class="sb sb-left " data-sound="">

								<span class="orig" dir="ltr">nach hinten</span> <span
								class="tr-only">(= derrière)</span>
							</span> , <span id="sb_yw11_2_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">nach
									rechts</span> <span class="tr-only">(= à droite)</span>
							</span> , <span id="sb_yw11_3_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">dahin</span>

								<span class="tr-only">(= là)</span>
							</span> , <span id="sb_yw11_4_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">abwärts</span>

								<span class="tr-only">(= vers le bas)</span>
							</span> , <span id="sb_yw11_5_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">aufwärts</span>

								<span class="tr-only">(= vers le haut)</span>
							</span> , <span id="sb_yw11_6_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">dorthin</span>

								<span class="tr-only">(= là-bas)</span>
							</span> , <span id="sb_yw11_7_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">hoch</span> <span
								class="tr-only">(= en haut)</span>
							</span> , <span id="sb_yw11_8_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">runter</span>

								<span class="tr-only">(= en bas)</span>
							</span> ...
						</dd>
					</dl>
				</div>

				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr>
								<td>
									<div id="sb_yw12_1_1610118521" class="sb sb-left "
										data-sound="">
										<span class="orig" dir="ltr">Beim Konzert stand ich
											ganz <b>vorne</b> an der Bühne.
										</span>
									</div>
								</td>
								<td class="tr-only">= Au concert, je suis tout devant, près
									de la scène.</td>
							</tr>
							<tr>
								<td>
									<div id="sb_yw12_2_1610118521" class="sb sb-left "
										data-sound="">
										<span class="orig" dir="ltr">Ich kam <b>von links</b>
											aber du hast mich nicht gesehen.
										</span>
									</div>
								</td>
								<td class="tr-only">= Je suis venu de la gauche mais tu ne
									m’as pas vu.</td>
							</tr>
							<tr>
								<td>
									<div id="sb_yw12_3_1610118521" class="sb sb-left "
										data-sound="">
										<span class="orig" dir="ltr">Lass uns <b>nach
												rechts</b> gehen, dann sind wir schneller.
										</span>
									</div>
								</td>
								<td class="tr-only">= Allons à droite, nous irons plus
									vite.</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>




		<div class="content-item" id="adverbs_temporaladverbien">
			<h2 class="line-text important" title="" rel="tooltip"
				data-original-title="#adverbs_temporaladverbien">Adverbes
				temporels</h2>

			<div class="grammar-examples grammar-block">
				<div class="table-responsive">
					<dl class="dl-horizontal">
						<dt>Quand ?</dt>
						<dd>
							<span id="sb_yw13_1_1610118521" class="sb sb-left " data-sound="">

								<span class="orig" dir="ltr">gestern</span> <span
								class="tr-only">(= hier)</span>
							</span> , <span id="sb_yw13_2_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">eben</span> <span
								class="tr-only">(= à l’instant)</span>
							</span> , <span id="sb_yw13_3_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">nachher</span>

								<span class="tr-only">(= après)</span>
							</span> , <span id="sb_yw13_4_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">abends</span>

								<span class="tr-only">(= le soir)</span>
							</span> , <span id="sb_yw13_5_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">vorhin</span>

								<span class="tr-only">(= tout à l’heure)</span>
							</span> , <span id="sb_yw13_6_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">jetzt</span>

								<span class="tr-only">(= maintenant)</span>
							</span> , <span id="sb_yw13_7_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">später</span>

								<span class="tr-only">(= plus tard)</span>
							</span> , <span id="sb_yw13_8_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">damals</span>

								<span class="tr-only">(= à cette époque)</span>
							</span> , <span id="sb_yw13_9_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">heute</span>

								<span class="tr-only">(= aujourd’hui)</span>
							</span> ...
						</dd>
						<dt>Combien de temps/à quelle fréquence ?</dt>
						<dd>
							<span id="sb_yw14_1_1610118521" class="sb sb-left " data-sound="">

								<span class="orig" dir="ltr">kurz</span> <span class="tr-only">(=
									brièvement)</span>
							</span> , <span id="sb_yw14_2_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">immer</span>

								<span class="tr-only">(= toujours)</span>
							</span> , <span id="sb_yw14_3_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">selten</span>

								<span class="tr-only">(= rarement)</span>
							</span> , <span id="sb_yw14_4_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">nie</span> <span
								class="tr-only">(= jamais)</span>
							</span> , <span id="sb_yw14_5_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">manchmal</span>

								<span class="tr-only">(= parfois)</span>
							</span> , <span id="sb_yw14_6_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">oft</span> <span
								class="tr-only">(= souvent)</span>
							</span> , <span id="sb_yw14_7_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">zwischendurch</span>

								<span class="tr-only">(= de temps en temps)</span>
							</span> , <span id="sb_yw14_8_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">seitdem</span>

								<span class="tr-only">(= depuis)</span>
							</span> ...
						</dd>
						<dt>À partir de/jusqu’à quand ?</dt>
						<dd>
							<span id="sb_yw15_1_1610118521" class="sb sb-left " data-sound="">

								<span class="orig" dir="ltr">ab morgen</span> <span
								class="tr-only">(= à partir de maintenant)</span>
							</span> , <span id="sb_yw15_2_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">ab
									sofort</span> <span class="tr-only">(= dès à présent)</span>
							</span> , <span id="sb_yw15_3_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">ab
									jetzt</span> <span class="tr-only">(= dès maintenant)</span>
							</span> , <span id="sb_yw15_4_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">bis
									morgen</span> <span class="tr-only">(= jusqu’à demain)</span>
							</span> ...
						</dd>
						<dt>Depuis quand/combien de temps ?</dt>
						<dd>
							<span id="sb_yw16_1_1610118521" class="sb sb-left " data-sound="">

								<span class="orig" dir="ltr">seit gestern</span> <span
								class="tr-only">(= depuis hier)</span>
							</span> , <span id="sb_yw16_2_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">seit
									morgens</span> <span class="tr-only">(= depuis ce matin)</span>
							</span> , <span id="sb_yw16_3_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">schon
									lange</span> <span class="tr-only">(= depuis longtemps déjà)</span>
							</span> , <span id="sb_yw16_4_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">schon
									immer</span> <span class="tr-only">(= depuis toujours)</span>
							</span> , <span id="sb_yw16_5_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">seit
									kurzem</span> <span class="tr-only">(= depuis peu)</span>
							</span> , <span id="sb_yw16_6_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">noch
									nie</span> <span class="tr-only">(= jamais encore)</span>
							</span> ...
						</dd>
					</dl>
				</div>

				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr>
								<td>
									<div id="sb_yw17_1_1610118521" class="sb sb-left "
										data-sound="">
										<span class="orig" dir="ltr">Wir müssen <b>bald</b> mal
											wieder schwimmen gehen.
										</span>
									</div>
								</td>
								<td class="tr-only">= Nous devons retourner nager bientôt.</td>
							</tr>
							<tr>
								<td>
									<div id="sb_yw17_2_1610118521" class="sb sb-left "
										data-sound="">
										<span class="orig" dir="ltr">Momentan gehe ich nur <b>selten</b>
											schwimmen.
										</span>
									</div>
								</td>
								<td class="tr-only">= Pour le moment, je ne vais nager que
									rarement.</td>
							</tr>
							<tr>
								<td>
									<div id="sb_yw17_3_1610118521" class="sb sb-left "
										data-sound="">
										<span class="orig" dir="ltr"><b>Ab morgen</b> fange ich
											an regelmäßig schwimmen zu gehen.</span>
									</div>
								</td>
								<td class="tr-only">= À partir de demain, je commence à
									aller nager régulièrement.</td>
							</tr>
							<tr>
								<td>
									<div id="sb_yw17_4_1610118521" class="sb sb-left "
										data-sound="">
										<span class="orig" dir="ltr"><b>Seit kurzem</b> gehe
											ich jeden Tag vor der Arbeit schwimmen.</span>
									</div>
								</td>
								<td class="tr-only">= Depuis peu, je vais nager tous les
									jours avant le travail.</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>

			<p>
				<b>Remarque :</b> L’adverbe <span id="sb_yw18_1_1610118521"
					class="sb sb-left " data-sound=""> <span class="orig"
					dir="ltr"><b>“seit”</b></span> <span class="tr-only">(=
						depuis)</span>
				</span> est fréquemment confondu avec le verbe <span
					id="sb_yw19_1_1610118521" class="sb sb-left " data-sound="">

					<span class="orig" dir="ltr">seid</span> <span class="tr-only">(=
						êtes)</span>
				</span> (deuxième personne du pluriel de <span id="sb_yw20_1_1610118521"
					class="sb sb-left " data-sound=""> <span class="orig"
					dir="ltr">sein</span> <span class="tr-only">(= être)</span>
				</span> ) et donc mal orthographié. Un moyen mnémotechnique d’éviter cette
				erreur est : <span id="sb_yw21_1_1610118521" class="sb sb-left "
					data-sound=""> <span class="orig" dir="ltr">seit</span> <span
					class="tr-only">(= depuis)</span>
				</span> = <span id="sb_yw21_2_1610118521" class="sb sb-left " data-sound="">

					<span class="orig" dir="ltr">Zeit</span> <span class="tr-only">(=
						temps)</span>
				</span> ou la phrase <span id="sb_yw22_1_1610118521" class="sb sb-left "
					data-sound=""> <span class="orig" dir="ltr">“Bei seit
						geht es um die Zeit.”</span> <span class="tr-only">(= Avec « seit
						», il est question de temps.)</span>
				</span> .
			</p>
		</div>




		<div class="content-item" id="adverbs_kausaladverbien">
			<h2 class="line-text important" title="#adverbs_kausaladverbien"
				rel="tooltip">Adverbes de cause</h2>

			<div class="grammar-examples grammar-block">
				<div class="table-responsive">
					<dl class="dl-xxl">
						<dt>Pourquoi ? À quelle condition ?</dt>
						<dd>
							<span id="sb_yw23_1_1610118521" class="sb sb-left " data-sound="">

								<span class="orig" dir="ltr">also</span> <span class="tr-only">(=
									donc)</span>
							</span> , <span id="sb_yw23_2_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">deshalb</span>

								<span class="tr-only">(= pour cela)</span>
							</span> , <span id="sb_yw23_3_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">daher</span>

								<span class="tr-only">(= c’est pourquoi)</span>
							</span> , <span id="sb_yw23_4_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">deswegen</span>

								<span class="tr-only">(= à cause de cela)</span>
							</span> , <span id="sb_yw23_5_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">darum</span>

								<span class="tr-only">(= pour cela)</span>
							</span> , <span id="sb_yw23_6_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">dadurch</span>

								<span class="tr-only">(= de ce fait)</span>
							</span> , <span id="sb_yw23_7_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">folglich
									damit</span> <span class="tr-only">(= par conséquent)</span>
							</span> , <span id="sb_yw23_8_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">hiermit</span>

								<span class="tr-only">(= sur ce)</span>
							</span> , <span id="sb_yw23_9_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">dazu</span> <span
								class="tr-only">(= avec cela)</span>
							</span> , <span id="sb_yw23_10_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">jedenfalls</span>

								<span class="tr-only">(= en tout cas)</span>
							</span> , <span id="sb_yw23_11_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">demnach</span>

								<span class="tr-only">(= en conséquence)</span>
							</span> , <span id="sb_yw23_12_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">dennoch</span>

								<span class="tr-only">(= malgré tout)</span>
							</span> , <span id="sb_yw23_13_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">dafür</span>

								<span class="tr-only">(= pour cela)</span>
							</span> , <span id="sb_yw23_14_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">schließlich</span>

								<span class="tr-only">(= finalement)</span>
							</span> , <span id="sb_yw23_15_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">folglich</span>

								<span class="tr-only">(= par conséquent)</span>
							</span> ...
						</dd>
					</dl>
				</div>

				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr>
								<td>
									<div id="sb_yw24_1_1610118521" class="sb sb-left "
										data-sound="">
										<span class="orig" dir="ltr">Mein Auto hatte einen
											Platten. <b>Darum</b> kam ich zu spät.
										</span>
									</div>
								</td>
								<td class="tr-only">= Ma voiture a eu une crevaison. C’est
									pour ça que je suis arrivé en retard.</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>



		<div class="content-item" id="adverbs_modaladverbien">
			<h2 class="line-text important" title="#adverbs_modaladverbien"
				rel="tooltip">Adverbes de manière</h2>

			<div class="grammar-examples grammar-block">
				<div class="table-responsive">
					<dl class="dl-xxl">
						<dt>
							Comment ? À quel point ? Combien ?<br>Expression du degré et
							de la mesure
						</dt>
						<dd>
							<span id="sb_yw25_1_1610118521" class="sb sb-left " data-sound="">

								<span class="orig" dir="ltr">anders</span> <span class="tr-only">(=
									autrement)</span>
							</span> , <span id="sb_yw25_2_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">äußerst</span>

								<span class="tr-only">(= extrêmement)</span>
							</span> , <span id="sb_yw25_3_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">allzu</span>

								<span class="tr-only">(= bien trop)</span>
							</span> , <span id="sb_yw25_4_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">beinahe</span>

								<span class="tr-only">(= presque)</span>
							</span> , <span id="sb_yw25_5_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">besonders</span>

								<span class="tr-only">(= particulièrement)</span>
							</span> , <span id="sb_yw25_6_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">bekanntlich</span>

								<span class="tr-only">(= comme chacun sait)</span>
							</span> , <span id="sb_yw25_7_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">ebenfalls</span>

								<span class="tr-only">(= également)</span>
							</span> , <span id="sb_yw25_8_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">einigermaßen</span>

								<span class="tr-only">(= relativement)</span>
							</span> , <span id="sb_yw25_9_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">fast</span> <span
								class="tr-only">(= presque)</span>
							</span> , <span id="sb_yw25_10_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">folgendermaßen</span>

								<span class="tr-only">(= de la manière suivante)</span>
							</span> , <span id="sb_yw25_11_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">ganz</span> <span
								class="tr-only">(= tout à fait)</span>
							</span> , <span id="sb_yw25_12_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">genauso</span>

								<span class="tr-only">(= de la même façon)</span>
							</span> , <span id="sb_yw25_13_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">genug</span>

								<span class="tr-only">(= assez)</span>
							</span> , <span id="sb_yw25_14_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">gern</span> <span
								class="tr-only">(= volontiers)</span>
							</span> , <span id="sb_yw25_15_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">kaum</span> <span
								class="tr-only">(= à peine)</span>
							</span> , <span id="sb_yw25_16_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">leider</span>

								<span class="tr-only">(= malheureusement)</span>
							</span> , <span id="sb_yw25_17_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">möglicherweise</span>

								<span class="tr-only">(= éventuellement)</span>
							</span> , <span id="sb_yw25_18_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">sehr</span> <span
								class="tr-only">(= très)</span>
							</span> , <span id="sb_yw25_19_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">so</span> <span
								class="tr-only">(= tellement)</span>
							</span> , <span id="sb_yw25_20_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">vielleicht</span>

								<span class="tr-only">(= peut-être)</span>
							</span> , <span id="sb_yw25_21_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">wirklich</span>

								<span class="tr-only">(= vraiment)</span>
							</span> , <span id="sb_yw25_22_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">ziemlich</span>

								<span class="tr-only">(= plutôt)</span>
							</span> ...
						</dd>
						<dt>
							Comment ? À quel point ?<br>Expression d’une restriction
						</dt>
						<dd>
							<span id="sb_yw26_1_1610118521" class="sb sb-left " data-sound="">

								<span class="orig" dir="ltr">allerdings</span> <span
								class="tr-only">(= toutefois)</span>
							</span> , <span id="sb_yw26_2_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">doch</span> <span
								class="tr-only">(= quand même)</span>
							</span> , <span id="sb_yw26_3_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">hingegen</span>

								<span class="tr-only">(= en revanche)</span>
							</span> , <span id="sb_yw26_4_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">immerhin</span>

								<span class="tr-only">(= tout de même)</span>
							</span> , <span id="sb_yw26_5_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">jedoch</span>

								<span class="tr-only">(= pourtant)</span>
							</span> , <span id="sb_yw26_6_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">nur</span> <span
								class="tr-only">(= seulement)</span>
							</span> , <span id="sb_yw26_7_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">wenigstens</span>

								<span class="tr-only">(= du moins)</span>
							</span> , <span id="sb_yw26_8_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">zumindest</span>

								<span class="tr-only">(= au moins)</span>
							</span> ...
						</dd>
						<dt>
							Comment ?<br>Expression d’un élargissement
						</dt>
						<dd>
							<span id="sb_yw27_1_1610118521" class="sb sb-left " data-sound="">

								<span class="orig" dir="ltr">auch</span> <span class="tr-only">(=
									aussi)</span>
							</span> , <span id="sb_yw27_2_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">außerdem</span>

								<span class="tr-only">(= en outre)</span>
							</span> , <span id="sb_yw27_3_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">ferner</span>

								<span class="tr-only">(= de plus)</span>
							</span> , <span id="sb_yw27_4_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">ebenfalls</span>

								<span class="tr-only">(= en tout cas)</span>
							</span> , <span id="sb_yw27_5_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">sonst</span>

								<span class="tr-only">(= sinon)</span>
							</span> , <span id="sb_yw27_6_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">zudem</span>

								<span class="tr-only">(= de surcroît)</span>
							</span> , <span id="sb_yw27_7_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">erstens</span>

								<span class="tr-only">(= premièrement)</span>
							</span> , <span id="sb_yw27_8_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">zweitens</span>

								<span class="tr-only">(= deuxièmement)</span>
							</span> , <span id="sb_yw27_9_1610118521" class="sb sb-left "
								data-sound=""> <span class="orig" dir="ltr">drittens</span>

								<span class="tr-only">(= troisièmement)</span>
							</span> ...
						</dd>
					</dl>
				</div>

				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr>
								<td>
									<div id="sb_yw28_1_1610118521" class="sb sb-left "
										data-sound="">
										<span class="orig" dir="ltr">Mit meinem neuen Kollegen
											komme ich <b>einigermaßen</b> zurecht. Dir würde es da
											genauso gehen.
										</span>
									</div>
								</td>
								<td class="tr-only">= Je m’entends relativement bien avec
									mon nouveau collègue. Ce serait pareil pour toi.</td>
							</tr>
							<tr>
								<td>
									<div id="sb_yw28_2_1610118521" class="sb sb-left "
										data-sound="">
										<span class="orig" dir="ltr">Ich versuche <b>zumindest</b>
											immer freundlich zu ihm zu sein.
										</span>
									</div>
								</td>
								<td class="tr-only">= J’essaie au moins d’être toujours
									sympathique avec lui.</td>
							</tr>
							<tr>
								<td>
									<div id="sb_yw28_3_1610118521" class="sb sb-left "
										data-sound="">
										<span class="orig" dir="ltr">Er ist <b>ebenfalls</b>
											stets freundlich und nett.
										</span>
									</div>
								</td>
								<td class="tr-only">= Il est également tout le temps
									sympathique et gentil.</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>



		<div class="content-item" id="adverbs_steigerung">
			<h2 class="line-text important" title="#adverbs_steigerung"
				rel="tooltip">Comparaison des adverbes</h2>



			<p>
				Les adverbes ne sont pas comparés, à quelques exceptions près. Les
				adverbes <span id="sb_yw29_1_1610118521" class="sb sb-left "
					data-sound=""> <span class="orig" dir="ltr"><b>oft</b></span>

					<span class="tr-only">(= souvent)</span>
				</span> et <span id="sb_yw30_1_1610118521" class="sb sb-left "
					data-sound=""> <span class="orig" dir="ltr"><b>wohl</b></span>

					<span class="tr-only">(= bien)</span>
				</span> ont deux formes au comparatif.
			</p>

			<div class="grammar-examples grammar-block">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Affirmatif</th>
								<th>Comparatif</th>
								<th>Superlatif</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td rowspan="2" class="text-center middle">
									<div id="sb_yw31_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">oft</div>



									</div>
								</td>
								<td>
									<div id="sb_yw32_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">öfter</div>



									</div>
								</td>
								<td>
									<div id="sb_yw33_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">am öftesten</div>



									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div id="sb_yw34_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">häufiger</div>



									</div>
								</td>
								<td>
									<div id="sb_yw35_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">am häufigsten</div>



									</div>
								</td>
							</tr>
							<tr>
								<td rowspan="2" class="text-center middle">
									<div id="sb_yw36_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">wohl</div>



									</div>
								</td>
								<td>
									<div id="sb_yw37_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">wohler</div>



									</div>
								</td>
								<td>
									<div id="sb_yw38_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">am wohlsten</div>



									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div id="sb_yw39_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">besser</div>



									</div>
								</td>
								<td>
									<div id="sb_yw40_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">am besten</div>



									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<p>
				Les adverbes irréguliers <span id="sb_yw41_1_1610118521"
					class="sb sb-left " data-sound=""> <span class="orig"
					dir="ltr"><b>gern</b></span> <span class="tr-only">(=
						volontiers)</span>
				</span> , <span id="sb_yw41_2_1610118521" class="sb sb-left " data-sound="">

					<span class="orig" dir="ltr"><b>bald</b></span> <span
					class="tr-only">(= bientôt)</span>
				</span> et <span id="sb_yw42_1_1610118521" class="sb sb-left "
					data-sound=""> <span class="orig" dir="ltr"><b>sehr</b></span>

					<span class="tr-only">(= très)</span>
				</span> peuvent aussi être comparés.
			</p>

			<div class="grammar-examples grammar-block">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Affirmatif</th>
								<th>Comparatif</th>
								<th>Superlatif</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div id="sb_yw43_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">gern</div>



									</div>
								</td>
								<td>
									<div id="sb_yw44_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">lieber</div>



									</div>
								</td>
								<td>
									<div id="sb_yw45_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">am liebsten</div>



									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div id="sb_yw46_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">bald</div>



									</div>
								</td>
								<td>
									<div id="sb_yw47_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">eher</div>



									</div>
								</td>
								<td>
									<div id="sb_yw48_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">am ehesten</div>



									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div id="sb_yw49_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">sehr</div>



									</div>
								</td>
								<td>
									<div id="sb_yw50_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">mehr</div>



									</div>
								</td>
								<td>
									<div id="sb_yw51_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">am meisten</div>



									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<h3>Comparaison des adverbes adjectivaux</h3>

			<p>
				Les adjectifs employés comme adverbes peuvent également être
				comparés. Pour ce faire, on utilise la forme non déclinée du
				comparatif et la forme du superlatif avec <b>am + sten</b> :
			</p>

			<div class="grammar-examples grammar-block">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>Affirmatif</th>
								<th>Comparatif</th>
								<th>Superlatif</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div id="sb_yw52_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">viel</div>



										<div class="tr-only">beaucoup</div>
									</div>
								</td>
								<td>
									<div id="sb_yw53_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">mehr</div>



									</div>
								</td>
								<td>
									<div id="sb_yw54_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">am meisten</div>



									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div id="sb_yw55_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">wenig</div>



										<div class="tr-only">peu</div>
									</div>
								</td>
								<td>
									<div id="sb_yw56_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">weniger</div>



									</div>
								</td>
								<td>
									<div id="sb_yw57_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">am wenigsten</div>



									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div id="sb_yw58_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">gut</div>



										<div class="tr-only">bien</div>
									</div>
								</td>
								<td>
									<div id="sb_yw59_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">besser</div>



									</div>
								</td>
								<td>
									<div id="sb_yw60_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">am besten</div>



									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div id="sb_yw61_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">schnell</div>



										<div class="tr-only">vite</div>
									</div>
								</td>
								<td>
									<div id="sb_yw62_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">schneller</div>



									</div>
								</td>
								<td>
									<div id="sb_yw63_1_1610118521" class="sb sb-left" data-sound="">
										<div class="orig" dir="ltr">am schnellsten</div>



									</div>
								</td>
							</tr>
						</tbody>
					</table>

					<div class="table-responsive">
						<table class="table">
							<tbody>
								<tr>
									<td>
										<div id="sb_yw64_1_1610118521" class="sb sb-left "
											data-sound="">
											<span class="orig" dir="ltr">Er ist schnell gelaufen.</span>
										</div>
									</td>
									<td class="tr-only">= Il a couru vite.</td>
								</tr>
								<tr>
									<td>
										<div id="sb_yw64_2_1610118521" class="sb sb-left "
											data-sound="">
											<span class="orig" dir="ltr">Sie ist schneller
												gelaufen.</span>
										</div>
									</td>
									<td class="tr-only">= Elle a couru plus vite.</td>
								</tr>
								<tr>
									<td>
										<div id="sb_yw64_3_1610118521" class="sb sb-left "
											data-sound="">
											<span class="orig" dir="ltr">Der Profi ist am
												schnellsten gelaufen.</span>
										</div>
									</td>
									<td class="tr-only">= Le pro a couru le plus vite.</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>
			</div>

			<p>
				Certains adverbes adjectivaux ont en plus une forme au superlatif
				avec la terminaison <b>-stens</b> :
			</p>

			<div class="grammar-examples grammar-block">
				<span id="sb_yw65_1_1610118521" class="sb sb-left " data-sound="">

					<span class="orig" dir="ltr">bestens</span> <span class="tr-only">(=
						au mieux)</span>
				</span> , <span id="sb_yw65_2_1610118521" class="sb sb-left " data-sound="">

					<span class="orig" dir="ltr">höchstens</span> <span class="tr-only">(=
						au maximum)</span>
				</span> , <span id="sb_yw65_3_1610118521" class="sb sb-left " data-sound="">

					<span class="orig" dir="ltr">schnellstens</span> <span
					class="tr-only">(= au plus vite)</span>
				</span> , <span id="sb_yw65_4_1610118521" class="sb sb-left " data-sound="">

					<span class="orig" dir="ltr">wärmstens</span> <span class="tr-only">(=
						chaleureusement)</span>
				</span>
			</div>

			<div class="grammar-examples grammar-block">

				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr>
								<td>
									<div id="sb_yw66_1_1610118521" class="sb sb-left "
										data-sound="">
										<span class="orig" dir="ltr">Mir geht es bestens.</span>
									</div>
								</td>
								<td class="tr-only">= Je vais au mieux.</td>
							</tr>
							<tr>
								<td>
									<div id="sb_yw66_2_1610118521" class="sb sb-left "
										data-sound="">
										<span class="orig" dir="ltr">Ich grüße dich wärmstens.</span>
									</div>
								</td>
								<td class="tr-only">= Je te salue chaleureusement.</td>
							</tr>
							<tr>
								<td>
									<div id="sb_yw66_3_1610118521" class="sb sb-left "
										data-sound="">
										<span class="orig" dir="ltr">Lass uns schnellstens hier
											weg.</span>
									</div>
								</td>
								<td class="tr-only">= Partons d’ici au plus vite.</td>
							</tr>
							<tr>
								<td>
									<div id="sb_yw66_4_1610118521" class="sb sb-left "
										data-sound="">
										<span class="orig" dir="ltr">Es kann höchstens noch
											einen Moment dauern.</span>
									</div>
								</td>
								<td class="tr-only">= Ça peut durer encore un moment au
									maximum.</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>

			<p>
				Pour plusieurs adverbes sans comparatif, on peut exprimer la
				comparaison en les combinant avec <span id="sb_yw67_1_1610118521"
					class="sb sb-left " data-sound=""> <span class="orig"
					dir="ltr"><b>mehr</b></span> <span class="tr-only">(= plus)</span>
				</span> ou <span id="sb_yw68_1_1610118521" class="sb sb-left "
					data-sound=""> <span class="orig" dir="ltr"><b>weiter</b></span>

					<span class="tr-only">(= plus loin)</span>
				</span> (comparatif) ou avec <span id="sb_yw69_1_1610118521"
					class="sb sb-left " data-sound=""> <span class="orig"
					dir="ltr"><b>am meisten</b></span> <span class="tr-only">(=
						au plus)</span>
				</span> et <span id="sb_yw70_1_1610118521" class="sb sb-left "
					data-sound=""> <span class="orig" dir="ltr"><b>am
							weitesten</b></span> <span class="tr-only">(= au plus loin)</span>
				</span> (superlatif). Par exemple :
			</p>

			<div class="grammar-examples grammar-block">

				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr>
								<td>
									<div id="sb_yw71_1_1610118521" class="sb sb-left "
										data-sound="">
										<span class="orig" dir="ltr">Sie steht weiter vorne.</span>
									</div>
								</td>
								<td class="tr-only">= Elle est plus en avant.</td>
							</tr>
							<tr>
								<td>
									<div id="sb_yw71_2_1610118521" class="sb sb-left "
										data-sound="">
										<span class="orig" dir="ltr">Er steht am weitesten
											vorne.</span>
									</div>
								</td>
								<td class="tr-only">= Elle est tout à l’avant.</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
		</div>



	</div>
</section>
{% endblock %}