{% extends 'Ba.html'%}
{% load static%}
{% block body%}
<h2 class="line-text important" title="" rel="tooltip"
	data-original-title="#nouns_artikel_deklination">Articles et
	déclinaison</h2>

<h3>L’article</h3>

<p>
	Les substantifs allemands sont soit&nbsp;:<br>masculins (der Mann
	— l’homme), féminins (die Straße — la rue) ou neutres (das Hotel —
	l’hôtel).
</p>
<p>
	Le genre est marqué par un article ou des pronoms avant le nom.<br>Les
	articles sont obligatoirement liés à un nom.
</p>


<p>
	On utilise l’article indéfini quand le nom est cité pour la première
	fois.<br>Les articles indéfinis signifient aussi le nombre 1.<br>Au
	pluriel, on n’utilise pas d’article indéfini.
</p>

<div class="grammar-examples grammar-block">
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>maskulin</th>
					<th>feminina</th>
					<th>neutral</th>
					<th>Plural für alle Nomen</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<div id="sb_yw0_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>ein</b> Tisch
							</div>



							<div class="tr-only">une table</div>
						</div>
					</td>
					<td>
						<div id="sb_yw1_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>eine</b> Lampe
							</div>



							<div class="tr-only">une lampe</div>
						</div>
					</td>
					<td>
						<div id="sb_yw2_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>ein</b> Bett
							</div>



							<div class="tr-only">un lit</div>
						</div>
					</td>
					<td>
						<div id="sb_yw3_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">Stühle</div>



							<div class="tr-only">des chaises</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div id="sb_yw4_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>ein</b> Pullover
							</div>



							<div class="tr-only">un pull</div>
						</div>
					</td>
					<td>
						<div id="sb_yw5_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>eine</b> Jacke
							</div>



							<div class="tr-only">une veste</div>
						</div>
					</td>
					<td>
						<div id="sb_yw6_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>ein</b> T-Shirt
							</div>



							<div class="tr-only">un T-shirt</div>
						</div>
					</td>
					<td>
						<div id="sb_yw7_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">Schuhe</div>



							<div class="tr-only">des chaussures</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="table-responsive">
		<table class="table">
			<tbody>
				<tr>
					<td>
						<div id="sb_yw8_1_1609969388" class="sb sb-left " data-sound="">
							<span class="orig" dir="ltr">Auf der Straße läuft <b>ein</b>
								Hund.
							</span>
						</div>
					</td>
					<td class="tr-only">= Un chien court dans la rue.</td>
				</tr>
				<tr>
					<td>
						<div id="sb_yw8_2_1609969388" class="sb sb-left " data-sound="">
							<span class="orig" dir="ltr">Ich kaufe heute Äpfel.</span>
						</div>
					</td>
					<td class="tr-only">= J’achète des pommes aujourd’hui.</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>


<p>On utilise l’article défini quand le nom est connu ou décrit.</p>
<div class="grammar-examples grammar-block">
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>maskulin</th>
					<th>feminina</th>
					<th>neutral</th>
					<th>Plural für alle Nomen</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<div id="sb_yw9_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>der</b> Käse
							</div>



							<div class="tr-only">le fromage</div>
						</div>
					</td>
					<td>
						<div id="sb_yw10_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>die</b> Schokolade
							</div>



							<div class="tr-only">le chocolat</div>
						</div>
					</td>
					<td>
						<div id="sb_yw11_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>das</b> Brot
							</div>



							<div class="tr-only">le pain</div>
						</div>
					</td>
					<td>
						<div id="sb_yw12_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>die</b> Lebensmittel
							</div>



							<div class="tr-only">les aliments</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div id="sb_yw13_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>der</b> Tisch
							</div>



							<div class="tr-only">la table</div>
						</div>
					</td>
					<td>
						<div id="sb_yw14_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>die</b> Lampe
							</div>



							<div class="tr-only">la lampe</div>
						</div>
					</td>
					<td>
						<div id="sb_yw15_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>das</b> Bett
							</div>



							<div class="tr-only">le lit</div>
						</div>
					</td>
					<td>
						<div id="sb_yw16_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>die</b> Stühle
							</div>



							<div class="tr-only">les chaises</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div id="sb_yw17_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>der</b> Pullover
							</div>



							<div class="tr-only">le pull</div>
						</div>
					</td>
					<td>
						<div id="sb_yw18_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>die</b> Jacke
							</div>



							<div class="tr-only">la veste</div>
						</div>
					</td>
					<td>
						<div id="sb_yw19_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>das</b> T-Shirt
							</div>



							<div class="tr-only">le T-shirt</div>
						</div>
					</td>
					<td>
						<div id="sb_yw20_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>die</b> Schuhe
							</div>



							<div class="tr-only">les chaussures</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="table-responsive">
		<table class="table">
			<tbody>
				<tr>
					<td>
						<div id="sb_yw21_1_1609969388" class="sb sb-left " data-sound="">
							<span class="orig" dir="ltr"><b>Der</b> Schrank in der
								Ecke kostet 240 EUR.</span>
						</div>
					</td>
					<td class="tr-only">= Le placard dans le coin coûte 240 euros.</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>

<p>La négation « kein » est utilisée avant les substantifs.</p>

<div class="grammar-examples grammar-block">
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>maskulin</th>
					<th>feminina</th>
					<th>neutral</th>
					<th>Plural für alle Nomen</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<div id="sb_yw22_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>kein</b> Käse
							</div>



							<div class="tr-only">pas de fromage</div>
						</div>
					</td>
					<td>
						<div id="sb_yw23_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>keine</b> Schokolade
							</div>



							<div class="tr-only">pas de chocolat</div>
						</div>
					</td>
					<td>
						<div id="sb_yw24_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>kein</b> Brot
							</div>



							<div class="tr-only">pas de pain</div>
						</div>
					</td>
					<td>
						<div id="sb_yw25_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>keine</b> Lebensmittel
							</div>



							<div class="tr-only">pas d’aliments</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div id="sb_yw26_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>kein</b> Tisch
							</div>



							<div class="tr-only">pas de table</div>
						</div>
					</td>
					<td>
						<div id="sb_yw27_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>keine</b> Lampe
							</div>



							<div class="tr-only">pas de lampe</div>
						</div>
					</td>
					<td>
						<div id="sb_yw28_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>kein</b> Bett
							</div>



							<div class="tr-only">pas de lit</div>
						</div>
					</td>
					<td>
						<div id="sb_yw29_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>keine</b> Stühle
							</div>



							<div class="tr-only">pas de chaises</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div id="sb_yw30_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>kein</b> Salat
							</div>



							<div class="tr-only">pas de salade</div>
						</div>
					</td>
					<td>
						<div id="sb_yw31_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>keine</b> Idee
							</div>



							<div class="tr-only">pas d’idée</div>
						</div>
					</td>
					<td>
						<div id="sb_yw32_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>kein</b> Wetter
							</div>



							<div class="tr-only">pas de temps</div>
						</div>
					</td>
					<td>
						<div id="sb_yw33_1_1609969388" class="sb sb-left" data-sound="">
							<div class="orig" dir="ltr">
								<b>keine</b> Schuhe
							</div>



							<div class="tr-only">pas de chaussures</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="table-responsive">
		<table class="table">
			<tbody>
				<tr>
					<td>
						<div id="sb_yw34_1_1609969388" class="sb sb-left " data-sound="">
							<span class="orig" dir="ltr">Wir haben leider <b>keine</b>
								Orangen mehr.
							</span>
						</div>
					</td>
					<td class="tr-only">= Nous n’avons malheureusement plus
						d’oranges.</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>
{% endblock %}