{% extends 'base.html' %}
{% load static %}
{% block body %}
<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'css/maino.css' %}" />


		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<div id="head">
						<span class="avatar"><img src="{% static 'armoiries.png' %}" alt="" /></span>
						<h1>95 millions de personnes à travers le monde parlent l'allemand comme première langue, et ils ont un bon vocabulaire (essayez de dire Rindfleischetikettierungsüberwachungsaufgabenübertragungsgesetz .)
                            Si vous pouvez le faire, je serais sérieusement impressionné!).</h1>

					</div>

				<!-- Main -->
					<section id="main">

						<!-- Thumbnails -->
							<section class="thumbnails">
								<div>
									<a href="">
										<img src="{% static 'css/01.jpg' %}" alt="" />
										<h3>Grammar</h3>
									</a>

								</div>
								<div>
									<a href="">
										<img src="{% static 'css/03.jpg'%}" alt="" />
										<h3>Lesen</h3>
									</a>
									<a href="">
										<img src="{% static 'css/04.jpg'%}" alt="" />
										<h3>Schreiben</h3>
									</a>

								</div>
								<div>
									<a href="images/fulls/06.jpg">
										<img src="{% static 'css/06.jpg' %}" alt="" />
										<h3>Horen</h3>
									</a>

								</div>
							</section>

					</section>


			</div>

		<!-- Scripts
			<script src="{% static 'css/jquery.min.js' %}"></script>
			<script src="{% static 'css/jquery.poptrox.min.js'%}"></script>
			<script src="{% static 'css/skel.min.js' %}"></script>-->
			<script src="{% static 'css/main1.js'%}"></script>


{% endblock %}