{% extends 'Ba.html'%}
{% load static %}
{% block besoin %}<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">{% endblock %}

{% block body %}

     <h1> APPRENDRE LA LANGUE ALLEMANDE DANS UN SEUL CLIC  </h1>
        <div>
            <form method="post" action="/Grammar/">
                {% csrf_token %}
            {% for key,values in dictionnaire.items %}
                <H2>AUFGABE :</H2>

              <p>
                  {{ key }}
              </p>
                {% for mo in values %}
                   <input type="radio" name="{{key}}" value="{{mo}}" id="losung" >
                        <label for="losung">{{mo}}</label>
                {% endfor %}

            {% endfor %}


                <input type="submit" value="suuu" >
            </form>
        </div>

{% endblock %}