{% extends 'Ba.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/pi.css'%}">
<div id="article-main">
	<div id="content">
		<h1>Les pronoms indéfinis allemands</h1>
         <button><a class="retour" href="{% url 'Grammar:pronoms'%}"> << COURS PRONOMS</a></button>
		<section class="mod_article first last block"
			id="les-pronoms-indefinis">
			<div class="ce_text first block">
				<h2 id="a-introduction">Introduction</h2>
				<p>
					<b>Les pronoms indéfinis</b> allemands sont notamment&nbsp;: <i>etwas</i><span
						class="tooltip tooltip-fa color_text" lang="fr"><i
						class="fa fa-comment-o"></i><span class="tooltip-content">quelque
							chose</span></span>, <i>nichts</i><span class="tooltip tooltip-fa color_text"
						lang="fr"><i class="fa fa-comment-o"></i><span
						class="tooltip-content">rien</span></span>, <i>man</i><span
						class="tooltip tooltip-fa color_text" lang="fr"><i
						class="fa fa-comment-o"></i><span class="tooltip-content">on</span></span>,
					<i>jemand</i><span class="tooltip tooltip-fa color_text" lang="fr"><i
						class="fa fa-comment-o"></i><span class="tooltip-content">quelqu’un</span></span>,
					<i>niemand</i><span class="tooltip tooltip-fa color_text" lang="fr"><i
						class="fa fa-comment-o"></i><span class="tooltip-content">personne</span></span>,
					<i>jeder</i><span class="tooltip tooltip-fa color_text" lang="fr"><i
						class="fa fa-comment-o"></i><span class="tooltip-content">chacun(e)</span></span>.
					Ils sont employés pour parler de quelque chose de façon générale.
				</p>
				<dl class="example">
					<dt>Exemple&nbsp;:</dt>
					<dd lang="de">
						Kannst du <span style="text-decoration: underline">etwas</span>
						für mich tun?<span class="tooltip tooltip-fa color_text" lang="fr"><i
							class="fa fa-comment-o"></i><span class="tooltip-content">Peux-tu
								faire quelque chose pour moi?</span></span>
					</dd>
				</dl>
				<p>
					<span>Grâce à nos explications simples et claires
						accompagnées de nombreux exemples, tu apprendras tout ce qu’il
						faut savoir sur l’emploi et la <span class="glossary"
						data-term="347">déclinaison</span> des pronoms indéfinis allemands
						et tu pourras tester tes nouvelles connaissances avec nos
						exercices.
					</span>
				</p>
			</div>
			<div class="ce_text block">
				<h2 id="a-etwas-nichts">Etwas/Nichts</h2>
				<p>
					Les pronoms e<em>twas</em> et <em>nichts</em> sont invariables. Ils
					ne sont donc pas déclinés.
				</p>
				<dl class="example">
					<dt>Exemple&nbsp;:</dt>
					<dd lang="de">
						Hast du <em class="char">etwas</em> gehört?<span
							class="tooltip tooltip-fa color_text" lang="fr"><i
							class="fa fa-comment-o"></i><span class="tooltip-content">As-tu
								entendu quelque chose?</span></span>
					</dd>
					<dd lang="de">
						Nein, ich habe <em class="char">nichts</em> gehört.<span
							class="tooltip tooltip-fa color_text" lang="fr"><i
							class="fa fa-comment-o"></i><span class="tooltip-content">Non,
								je n’ai rien entendu.</span></span>
					</dd>
				</dl>
			</div>
			<div class="ce_text block">
				<h2 id="a-jemand-jeder">Jemand/Jeder</h2>
				<p>
					Les pronoms <i>jemand </i>et<i> jeder </i>se déclinent.
				</p>
				<dl class="example">
					<dt>Exemple&nbsp;:</dt>
					<dd lang="de">
						Ich sollte <span style="text-decoration: underline">jemanden</span>
						anrufen aber ich weiß nicht mehr, wen.<span
							class="tooltip tooltip-fa color_text" lang="fr"><i
							class="fa fa-comment-o"></i><span class="tooltip-content">Je
								devais appeler quelqu’un, mais je ne sais plus qui.</span></span>
					</dd>
					<dd lang="de">
						Das kann doch <span style="text-decoration: underline">jedem</span>
						mal passieren.<span class="tooltip tooltip-fa color_text"
							lang="fr"><i class="fa fa-comment-o"></i><span
							class="tooltip-content">Cela peut arriver à tout le monde.</span></span>
					</dd>
				</dl>
				<p>
					<span>En outre, le <span class="glossary" data-term="442">pronom</span></span><i>
						jeder/jede/jedes </i><span>se décline et s’accorde en <span
						class="glossary" data-term="366">genre</span> et en <span
						class="glossary" data-term="422">nombre</span> avec le <span
						class="glossary" data-term="420">nom</span> qu’il remplace ou
						accompagne (comme l’<span class="glossary" data-term="344">article
							défini</span></span><i> der/die/das</i>).
				</p>
				<dl class="example">
					<dt>Exemple&nbsp;:</dt>
					<dd lang="de">
						<i>jeder</i> – masculin
					</dd>
					<dd lang="de">
						<i>jede</i> – féminin
					</dd>
					<dd lang="de">
						<i>jedes</i> – neutre
					</dd>
				</dl>
			</div>
			<div class="ce_text block">
				<h2 id="a-man">Man</h2>
				<p>
					<span>Le <span class="glossary" data-term="442">pronom</span>
					</span><em>man (on)</em> se décline en <em>einen</em><span> à l’<span
						class="glossary" data-term="334">accusatif</span> et en
					</span><em>einem</em><span> au datif. Le <span class="glossary"
						data-term="434">pronom possessif</span> est le même que celui de
						du pronom
					</span><em>er.</em>
				</p>
				<dl class="example">
					<dt>Exemples&nbsp;:</dt>
					<dd lang="de">
						So etwas macht <em class="char">man</em> nicht! (nominatif)<span
							class="tooltip tooltip-fa color_text" lang="fr"><i
							class="fa fa-comment-o"></i><span class="tooltip-content">On
								ne fait pas ça!</span></span>
					</dd>
					<dd lang="de">
						Der Stress macht <em class="char">einen</em> krank. (accusatif)<span
							class="tooltip tooltip-fa color_text" lang="fr"><i
							class="fa fa-comment-o"></i><span class="tooltip-content">Le
								stress (nous) rend malades.</span></span>
					</dd>
					<dd lang="de">
						Die Stimme dieser Opernsängerin geht <em class="char">einem</em>
						unter die Haut. (datif)<span class="tooltip tooltip-fa color_text"
							lang="fr"><i class="fa fa-comment-o"></i><span
							class="tooltip-content">La voix de cette cantatrice (vous)
								prend aux tripes.</span></span>
					</dd>
					<dd lang="de">
						Man kann kaum <em class="char">sein</em> eigenes Wort hören.
						(pronom possessif)<span class="tooltip tooltip-fa color_text"
							lang="fr"><i class="fa fa-comment-o"></i><span
							class="tooltip-content">On peut à peine entendre ce qu’on
								dit.</span></span>
					</dd>
				</dl>
			</div>
			<div class="ce_text block">
				<h2 id="a-irgend">Irgend…</h2>
				<p>
					<span>Pour renforcer la généralisation, on peut rajouter
						devant certains pronoms le <span class="glossary" data-term="438">préfixe</span>
					</span><em>irgend</em>. Cela donne notamment&nbsp;: <em>irgendjemand/irgendwer</em><span
						class="tooltip tooltip-fa color_text" lang="fr"><i
						class="fa fa-comment-o"></i><span class="tooltip-content">quelqu’un,
							qui que ce soit, tout le monde, une personne quelconque...</span></span>,<em>
						irgendetwas/irgendwas</em><span class="tooltip tooltip-fa color_text"
						lang="fr"><i class="fa fa-comment-o"></i><span
						class="tooltip-content">quelque chose, quoi que ce soit...</span></span>.
				</p>
				<dl class="example">
					<dt>Exemples&nbsp;:</dt>
					<dd lang="de">
						<em class="char">Irgendjemand/Irgendwer</em> wird uns schon
						helfen.<span class="tooltip tooltip-fa color_text" lang="fr"><i
							class="fa fa-comment-o"></i><span class="tooltip-content">Quelqu’un
								va bien nous aider.</span></span><br>
						<em class="char">Irgendetwas/Irgendwas</em> hat er doch gesagt,
						oder?<span class="tooltip tooltip-fa color_text" lang="fr"><i
							class="fa fa-comment-o"></i><span class="tooltip-content">Il
								a bien dit quelque chose, non?</span></span>
					</dd>
				</dl>
			</div>
			<div class="ce_text block">
				<h2 id="a-declinaisons-de-jemand-jeder-man">Déclinaisons de
					jemand/jeder/man</h2>
				<p>Les pronoms jemand, jeder et man se déclinent ainsi&nbsp;:</p>
				<div class="table-scrollable">
					<table class="cellspacing=">
						<tbody>
							<tr>
								<th rowspan="2"></th>
								<th rowspan="2"><em>jemand</em></th>
								<th rowspan="2"><em>niemand</em></th>
								<th class="no-border" colspan="3"><em>jeder</em></th>
								<th rowspan="2"><em>man</em></th>
							</tr>
							<tr>
								<th>Masculin</th>
								<th>Féminin</th>
								<th>Neutre</th>
							</tr>
							<tr>
								<td valign="middle"><strong>Nominatif</strong></td>
								<td valign="top">jemand</td>
								<td valign="top">niemand</td>
								<td valign="top">jeder</td>
								<td valign="top">jede</td>
								<td valign="top">jedes</td>
								<td valign="top">man</td>
							</tr>
							<tr>
								<td valign="middle"><strong>Accusatif</strong></td>
								<td valign="top">jemanden</td>
								<td valign="top">niemanden</td>
								<td valign="top">jeden</td>
								<td valign="top">jede</td>
								<td valign="top">jedes</td>
								<td valign="top">einen</td>
							</tr>
							<tr>
								<td valign="middle"><strong>Datif</strong></td>
								<td valign="top">jemandem</td>
								<td valign="top">niemandem</td>
								<td valign="top">jedem</td>
								<td valign="top">jeder</td>
								<td valign="top">jedem</td>
								<td valign="top">einem</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
        </section>
    </div>
</div>
{% endblock %}