{% extends 'Ba.html' %}
{% block body %}
    <form method="post" action="/Grammar/quiz">
        {% csrf_token %}

          {% for key , values in dictionnaire.items %}
                <h5>{{key}}</h5>

              {% for mo in values %}
                <input type="radio" name="{{key}}" value="{{mo}}" id="losung"  >
                <label for="losung">{{mo}}</label><br/>
              {% endfor %}
  <P>{{tipps.titre}}</P>

              <div class="clearfix"></div>

          {% endfor %}
    <input type="submit" value="Valider">

        <p>{{message}}</p>
</form>
{% endblock %}