{%extends 'Ba.html'%}
{% load static %}
{%block body %}
<link rel="stylesheet" type="text/css" href="{%static 'css/index.css'%}" xmlns="http://www.w3.org/1999/html">
<div class="container">
<h1>Hören</h1>
<!--<li ><a class="cool-link" href="/Horen/modeltest1">ModelTest1</a></li>
<li ><a class="cool-link" href="/Horen/modeltest2">ModelTest2</a></li>
<li ><a class="cool-link" href="/Horen/modeltest3">ModelTest3</a></li>
<li ><a class="cool-link" href="/Horen/poadcast">Poadcast</a></li>-->
    {% for model in modeles %}
        <a class="cool-link" href="{% url 'Horen:index'%}?id={{model.id}}" ><img src="/media/{{model.imagedemodel}}"></a>
    {% endfor %}
    <a class="cool-link" href="/Horen/poadcast" ><img src="{%static '/Pictures/podcast.png'%}"></a>
</div>
{%endblock%}