{%extends 'Ba.html'%}
{% load static %}

{% block besoin %}
<title > Hören - Modeltest1</title>
{%endblock%}
{% block body %}
<link rel="stylesheet" type="text/css" href="{%static 'css/modeltest1.css'%}">
<!--
{% for key,value in questions.items %}
    {% for keyo,valueo in audios.items %}
        {% if keyo == key %}
            <audio controls src="{{valueo.track.url}}"></audio>
        {% endif %}
    {% endfor %}
    <p> Frage : {{key}}</p>
    {% for mo in value %}
        <input type="radio" name="{{key}}" value="{{ mo }}" id="{{mo}}" checked >
        <label for="{{mo}}">{{mo}}</label><br/>
    {% endfor %}
    {% endfor %}-->
<section>
    <h2 class="MD"> ModelTest 1</h2>
    <form method='POST' action="{% url 'Horen:index'%}">
        <input type="hidden" name="id" value="{{id}}"/>
        <div class="general">
        {% csrf_token %}
            {% for t in audios%}
            <div class="partie">
                <div class="premierepartie">
                    <div class="audio">
                        <audio controls style="" src="{{t.track.url}}" ></audio>
                    </div>
                {% for q in question%}
                    {% if q.audio_id == t.id%}
                        <div class="frages">
                            <p class="frage"> <span class="titre">Frage {{forloop.counter}} : </span>{{q.quest}}</p>
                        </div>
                    </div>
                <div class="deusiemepartie">
                        <div class="choix">
                            {%for c in choix%}
                                {%if c.question_id == q.id%}
                                  <div class="unchoix">
                                    <input class="ch" type="radio" name="{{q.quest}}" value="{{c.choix}}" id="{{q.question}}" >
                                        <label for="{{q.question}}">{{c.choix}}</label><br/>
                                  </div>
                                {%endif%}
                            {%endfor%}
                                <div class="unchoix">
                                    <input class="ch" type="radio" name="{{q.quest}}" value="{{q.reponse}}" id="{{q.question}}" >
                                    <label for="{{q.question}}">{{q.reponse}}</label><br/>
                                </div>
                        </div>
                </div>
                    {%endif%}
                {%endfor%}
            </div>
            {%endfor%}
         <div class="footer-btn">
            <div class="btn-submit">
                <input type="submit" value="Submit">
            </div>
            <div class="btn-message">
                <p align="center" class="message">{{message}}</p>
            </div>
         </div>
        </div>
    </form>
</section>
{%endblock %}