{%extends 'Ba.html'%}
{% load static %}
{% block title %}
    <title> Hören - Modeltest1</title>
{%endblock%}
{% block body %}
{% for key,value in questions.items %}
    {% for keyo,valueo in audios.items %}
        {% if keyo == key %}
            <audio controls src="{{valueo.track.url}}"></audio>
        {% endif %}
    {% endfor %}
    <p> Frage : {{key}}</p>
    {% for mo in value %}
        <input type="radio" name="{{key}}" value="{{ mo }}" id="{{mo}}" checked >
        <label for="{{mo}}">{{mo}}</label><br/>
    {% endfor %}
{% endfor %}














{%endblock %}