{%extends 'Ba.html'%}
{% load static %}

{% block besoin %}
<title > Hören - Modeltest1</title>
{%endblock%}
{% block body %}
<link rel="stylesheet" type="text/css" href="{%static 'css/modeltest1.css'%}">
<!--
{% for key,value in questions.items %}
    {% for keyo,valueo in audios.items %}
        {% if keyo == key %}
            <audio controls src="{{valueo.track.url}}"></audio>
        {% endif %}
    {% endfor %}
    <p> Frage : {{key}}</p>
    {% for mo in value %}
        <input type="radio" name="{{key}}" value="{{ mo }}" id="{{mo}}" checked >
        <label for="{{mo}}">{{mo}}</label><br/>
    {% endfor %}
    {% endfor %}-->
<section>
    <h2 class="MD"> ModelTest 1</h2>
    <form method='POST' action="{% url 'Horen:index'%}">
        <input type="hidden" name="id" value="{{id}}"/>
        {% csrf_token %}
            {% for t in audios%}
        <div align="center">
            <audio controls style="" src="{{t.track.url}}" ></audio></br></div>
            {% for q in question%}
                {% if q.audio_id == t.id%}
                    <div class="frages">
                        <p class="frage"> <b>Frage {{forloop.counter}} : </b> {{q.quest}}</p></div>
                    <div class="select">
                        {%for c in choix%}
                            {%if c.question_id == q.id%}

                                <input class="ch" type="radio" name="{{q.quest}}" value="{{c.choix}}" id="{{q.question}}" >
                                    <label for="{{q.question}}">{{c.choix}}</label><br/>
                            {%endif%}
                        {%endfor%}
                        <input class="ch" type="radio" name="{{q.quest}}" value="{{q.reponse}}" id="{{q.question}}" >
                                    <label for="{{q.question}}">{{q.reponse}}</label><br/></div>
                        </div>
                {%endif%}
            {%endfor%}
            {%endfor%}
        <input type="submit" value="Submit">
        <p align="center" class="message">{{message}}</p>
    </form>
</section>
{%endblock %}