a, abbr, acronym, address, applet, article, aside, audio, big,
	blockquote, body, canvas, caption, center, cite, code, dd, del, details,
	dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form,
	 h2, h3, h4, h5, h6, html, i, iframe, ins, kbd,
	label, legend, mark, menu, object, ol, output, p, pre, q, ruby, s,
	samp, section, small, span, strike, strong, sub, summary, sup, table,
	tbody, td, tfoot, th, time, tr, tt, u, var, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

.button:active {
  background-color: #e7e7e7;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button {
width: 100%;
border-radius: 8px;
background-color: #e7e7e7; color: black;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}

p.small {
  line-height: 0.8;
}

p.big {
  line-height: 1.8;
}

article, aside, details, figcaption, figure, hgroup,
	menu, nav, section {
	display: block
}

body {
	line-height: 1
}

blockquote, q {
	quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
	content: '';
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

form {
	display: inline
}
html {
	font-size: 15px
}

body {
	line-height: 1.55;
	font-weight: 400;
	font-family: "Open Sans", HelveticaNeue, "Helvetica Neue", Helvetica,
		Arial, sans-serif;
	color: #272727;
	background-color: #f9f9f9;
	position: relative
}
.heading {
  text-align: center;
}

.heading h1 {
  display: inline-block;
}

.h1_style, .h2_style, .h3_style, .h4_style, h1, h2, h3, h4, h5 {

	padding: 0;
	display: block;
	font-weight: 600
}

.h1_style, h1 {
    margin-right: 10px
	font-size: 1.4em;
	margin-bottom: .1em
}

.h2_style, h2 {
	font-size: 1.3em;
	margin-bottom: .2em
}

.h3_style, h3 {
	font-size: 1.2em;
	margin-bottom: .5em
}

.h4_style, h4 {
	font-size: 1.2em;
	margin-bottom: .5em
}

p {
	margin-bottom: .7em
}

.leader h1 {
	font-size: 1.7em
}

.leader .main-text {
	font-size: 1.1em;
	line-height: 1.5;
	color: #505050
}





td, th {
	text-align: left;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 6px;
	border-bottom: 1px solid #e8e8e8
}

th {
	font-size: 13px;
	color: #5e5e5e;
	padding-bottom: 3px;
	padding-top: 0
}

.main {
	background-color: #fff;
	padding-bottom: 0
}


.container:after {
	content: '';
	display: block;
	clear: both
}

.include-background {
	background-repeat: no-repeat;
	background-size: auto 120%;
	background-position: 100% center
}



.background-grey {
	background-color: #ebebeb
}

.modal {
	position: absolute;
	background-color: rgba(180, 180, 180, .75);
	min-height: 1000px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1
}

.modal-box, .modal-content {
	margin: 0 auto;
	text-align: center;
	position: relative;
	padding: 12px;
	width: 90%;
	width: calc(98% - 36px);
	max-width: 360px;
	background-color: #fff;
	box-shadow: 0 2px 17px 0 rgba(166, 166, 166, .9);
	border-radius: 8px
}

.modal-text {
	margin-right: 50%;
	display: block
}

.modal .h2-style {
	font-size: 1.3em;
	display: block;
	font-weight: 700;
	padding-bottom: 5px
}

.modal-body {
	padding: 1em;
	text-align: left
}

.modal-h1 {
	font-weight: 700;
	font-size: 1.2em;
	margin-bottom: 1%
}

.modal-h2 {
	font-weight: 700;
	font-size: 1.1em;
	margin-bottom: 1%
}

.data-consent-modal .modal-content, .modal-content.modal-content-invoice,
	.modal-content.modal-content-login, .modal-content.modal-content-password-forgotten,
	.modal-content.modal-content-register {
	max-width: 400px;
	width: 95%;
	margin-top: 120px
}

.modal-content.modal-content-login {
	max-width: 350px
}

.data-consent-modal .modal-content {
	margin-top: 20px
}

@media ( max-width :620px) {
	.modal-text {
		margin-right: 0
	}
}



.form label {
	display: block;
	font-weight: 700;
	padding-bottom: 5px
}

.form label.label-terms {
	font-weight: 400;
	padding-bottom: 5px;
	font-size: .95em;
	padding-left: 1.4rem;
	position: relative
}

.form label.label-terms input {
	position: absolute;
	left: .05rem;
	top: .35rem
}

.form input.input-text {
	display: block;
	width: calc(100% - 26px);
	border: 1px solid #ccc;
	padding: 12px;
	margin-bottom: 10px;
	border-radius: 5px;
	outline: 0
}

.form select.input-select {
	border: 1px solid #ccc;
	padding: 12px;
	margin-bottom: 10px;
	border-radius: 5px;
	outline: 0
}

.form input[type=submit] {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	outline: 0
}

.form .form-status {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	margin-left: 10px;
	width: 20px;
	height: 20px
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.photo{
    border-radius: 8px;
    border: 2px solid #e8e8e8;
    padding: 8px;
    background-color: #fff;
    max-width: 600px;
    width: 100%;
    -webkit-box-shadow: 0 6px 9px 0 rgba(237, 237, 237, .9);
    -moz-box-shadow: 0 6px 9px 0 rgba(237, 237, 237, .9);
    box-shadow: 0 6px 9px 0 rgba(237, 237, 237, .9);
}

.form-error-message {
	color: #fff;
	background-repeat: no-repeat;
	background-position: 10px 10px;
	min-height: 27px;
	padding-left: 42px;
	line-height: 1.3em;
	padding-top: 12px;
	padding-bottom: 8px;
	background-color: #fb544e;
	border-radius: 5px;
	margin-bottom: 8px;
	padding-right: 12px
}

.form .form-error-message ul {
	padding: 0
}

.form .form-error-message li {
	margin-left: 17px;
	padding-bottom: 7px;
	line-height: 1.3em;
	font-size: .95em
}

.a-style.form-password-forgotten {
	margin-left: 5px;
	font-size: .85em;
	font-weight: 400
}

.content {
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: .7rem;
	padding-bottom: .7rem
}

.content_left, .content_right {
	box-sizing: border-box;
	width: 50%;
	padding-top: .7rem;
	padding-bottom: .7rem
}

.content_left {
	float: left;
	padding-left: 2rem;
	padding-right: 1.5rem
}

.content_right {
	float: right;
	padding-right: 2rem;
	padding-left: 1.5rem
}

.leader-content {
	width: 55%
}



h2.content-h2 {
	padding-left: 2rem;
	clear: both;
	margin-bottom: .1em
}







.panel.panel-with-navigation {
	border-top-left-radius: 0
}





.word_panel_left {
	width: 41%;
	padding: 2.5%;
	padding-left: 4%;
	display: inline-block;
	vertical-align: middle;
	line-height: 1.2em
}

.word_panel_right {
	width: 43%;
	padding: 2.5%;
	padding-left: 6%;
	display: inline-block;
	vertical-align: middle;
	line-height: 1.2em;
	background-repeat: no-repeat;
	background-position: 0 center
}

@media ( max-width :1050px) {
	.word_panel {
		width: calc(50% - 6px);
		border-radius: 5px
	}
}

@media ( max-width :600px) {
	.word_panel {
		width: 100%
	}
}


td.first-td {
	width: 60%;
	vertical-align: middle
}

a.reading-link {
	padding-right: 4px
}

span.label {
	display: inline-block;
	vertical-align: top;
	background-color: #fb544e;
	font-size: 10px;
	padding: 2px 3px;
	border-radius: 3px;
	color: #fff;
	margin-right: 3px;
	margin-top: 1px
}

span.label.label-blue {
	background-color: #656565
}

input, select {
	margin: 0
}



.overlay {
	display: none
}




.fifty_left, .sixty_left, .trainer_left {
	display: inline-block;
	vertical-align: top;
	width: 65%
}

.fifty_right, .fourty_right, .trainer_right {
	display: inline-block;
	vertical-align: top;
	width: 31%;
	margin-left: 1.5%;
	padding-left: 2%;
	border-left: 3px solid #e8e8e8;
	border-style: dotted
}

.sixty_left {
	width: 58%
}

.fourty_right {
	width: 38%
}

.fifty_left {
	width: 48%
}

.fifty_right {
	width: 48%
}

@media ( max-width :750px) {
	.fifty_left, .fifty_right, .fourty_right, .sixty_left, .trainer_left,
		.trainer_right {
		width: 100%;
		margin: 0;
		padding: 0;
		display: block
	}
	.fifty_right, .trainer_right {
		border-left: 0;
		border-top: 3px solid #e8e8e8;
		border-style: dotted;
		padding-top: 2%;
		margin-top: 2%
	}
	.fourty_right {
		margin-top: 10px;
		border: 0
	}
}

@media ( max-width :600px) {
	.content {
		padding-left: 1rem;
		padding-right: 1rem
	}
}


.question-box {
	border-top: 3px solid #e8e8e8;
	border-style: dotted;
	padding-top: 10px;
	padding-bottom: 10px
}

.questions_line {
	display: table-row;
	width: 100%
}

.exercise-box {
	position: relative;
	display: table-cell;
	margin: 0;
	height: auto;
	vertical-align: top;
	width: 50%;
	box-sizing: border-box;
	padding: .5rem 0 .5rem 0
}

.exercise-box.exercise-box-full {
	border-bottom: 3px dotted #e8e8e8;
	padding: 4px 0;
	padding-bottom: 1px;
	width: auto;
	display: block
}

.exercise-box.exercise-box-left {
	box-sizing: border-box;
	border-bottom: 3px dotted #e8e8e8;
	border-right: 3px dotted #e8e8e8;
	width: 50%;
	padding-right: .8rem
}

.exercise-box.exercise-box-right {
	box-sizing: border-box;
	border-bottom: 3px dotted #e8e8e8;
	width: 50%;
	padding-left: .8rem
}

#questions {
	display: table;
	width: 100%
}

.keypad {
	position: absolute;
	top: .4rem;
	display: inline-block;
	box-sizing: border-box;
	border-radius: 6px
}

.exercise-hint {
	color: #878787
}

input.exercise-input {
	padding: 5px;
	border-radius: 5px;
	font-size: 1em;
	color: #272727;
	margin-bottom: 3px
}

.speaker-box {
	position: relative;
	padding: 8px;
	width: 190px;
	margin-left: 1rem;
	display: inline-block;
	vertical-align: top;
	height: 40px;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .07)
}

.speaker-box div {
	margin-left: 52px;
	display: inline-block
}

.inactive-speaker {
	opacity: .7;
	cursor: pointer;
	transition: all .5s ease
}

.inactive-speaker:hover {
	opacity: 1
}

.inactive-speaker:hover {
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	filter: grayscale(0)
}

@media ( max-width :1000px) {
	.wrapper-lingua-speakers {
		display: block
	}
	.wrapper-lingua-player {
		display: block
	}
	.speaker-box {
		margin-top: 1rem
	}
	.speaker-box:nth-child(odd) {
		margin-left: 0
	}
	.lingua-player.green-audio-player {
		width: auto
	}
}

@media ( max-width :600px) {
	.speaker-box {
		margin-top: 1rem
	}
	.speaker-box.first-speaker-box {
		margin-left: 0
	}
	.speaker-box {
		box-sizing: border-box;
		width: calc(50% - .25rem);
		height: 48px;
		padding: 6px;
		margin-top: .5rem;
		margin-left: .5rem
	}
	.speaker-box div {
		margin-left: 44px;
		display: inline-block
	}
}

.question-number {
	font-size: .8em;
	font-weight: 600;
	margin-left: 4px;
	margin-top: 4px;
	background-color: #fb544e;
	color: #fff;
	font-weight: 400;
	border-radius: 4px;
	padding: .5rem;
	display: inline-block;
	margin-bottom: .6rem;
	margin-top: 0
}

.question {
	display: block;
	margin-bottom: 10px;
	font-size: 1.1em;
	margin-left: 4px
}

.answers {
	display: table;
	width: 100%;
	border-spacing: 4px
}

.answers-row {
	display: table-row
}

.answers.very-long-answers, .answers.very-long-answers .answer, .answers.very-long-answers .answers-row
	{
	display: block;
	width: auto;
	margin-right: 0;
	margin-left: 0
}

.rate-the-text, .text-rated {
	display: inline-block;
	cursor: pointer;
	background-position: 0 4px;
	background-repeat: no-repeat;
	padding: 4px 3px 8px 31px;
	margin-left: 8px;
	margin-right: 5px;
	min-height: 25px
}

.rate-the-text-chosen, .rate-the-text:hover {
	border-radius: 3px
}

.rate-the-text.rate-the-text-level {
	display: inline-block;
	text-align: left;
	margin: 0 auto;
	padding: 4px 0 3px 33px
}

.text-rated {
	cursor: auto;
	padding-left: 26px
}

.answer, .corrected-result, .modal input[type=submit] {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 3px solid #e8e8e8;
	background-repeat: repeat-x;
	padding: 6px;
	TEXT-DECORATION: none;
	color: #222;
	font-size: 1em;
	margin-right: 5px;
	margin-bottom: 5px;
	background-color: #f3f3f3;
	cursor: pointer
}


.modal input[type=submit] {
	padding: 9px
}

.corrected-result {
	display: inline-block;
	margin-bottom: 3px;
	margin-right: 0;
	font-size: 1em;
	padding: 3px 12px;
	padding-right: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px
}

.corrected-result .mc_icon {
	margin-right: 5px
}

.corrected-result del {
	text-decoration: line-through;
	opacity: .8em
}

.modal .corrected-result {
	padding: 1px 10px;
	padding-right: 4px;
	border-width: 2px;
	line-height: 16px
}

.modal .corrected-result .mc_icon {
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
	margin-top: -3px;
	margin-left: -6px;
	margin-right: 2px;
	width: 16px;
	height: 16px;
	line-height: 16px
}

.modal .corrected-result del {
	color: red
}

.active-answer:hover {
	border: 3px solid #dbdbdb
}

.active-answer:hover>.mc_number, .mc_number.mc_number_chosen {
	color: #fff;
	background-color: #b0b0b0;
	font-weight: 600
}

.mc_number.mc_number_chosen {
	background-repeat: repeat-x
}

input[type=submit] {
	padding: 9px
}


.answer {
	display: block;
	font-size: 1.05em;
	padding-left: 12px;
	min-height: 1.5em
}

.answers .answer {
	display: table-cell;
	width: 50%;
	box-sizing: border-box
}



.option {
	display: inline-block;
	width: 50%
}

.vc {
	display: inline-block;
	vertical-align: middle
}

.vc-correct {
	display: inline-block;
	background-position: 3px 0;
	background-repeat: no-repeat;
	padding-left: 29px;
	margin-top: 3px
}

.vc-wrong {
	display: inline-block;
	background-position: 3px 0;
	background-repeat: no-repeat;
	padding-left: 29px;
	margin-top: 3px
}

.input {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-right: 9px;
	vertical-align: top;
	border: 3px solid #e8e8e8;
	border-radius: 8px
}

.input .answerbox, .input .hintbox {
	font-family: TrainerFont, Lucida, Monospace;
	font-size: 19px;
	letter-spacing: 14.5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}

.input .hintbox {
    top left repeat-x;
	z-index: 0;
	border: 0;
	padding: 7px;
	background-color: #fff;
	color: #c2c2c2
}

.input .answerbox {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	padding: 7px;
	border: 0;
	outline: 0
}

@media ( max-width :680px) {
	.extra-navi {
		display: none
	}
}

.sc_letter {
	display: inline-block
}

.sc_shortcut {
	position: absolute;
	right: 10%;
	bottom: 5%;
	font-size: .7em;
	color: #7f7f7f
}

#stats {
	display: none;
	color: #717171
}

.headline {
	font-size: 1.1em;
	font-weight: 600;
	color: #717171
}

#stats_bar {
	width: 70%;
	max-width: 250px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 5px;
	height: 25px;
    top left no-repeat;
	background-size: 50% 100%;
	background-color: #eee
}

#stats_percentage {
	display: inline-block;
	color: #717171;
	vertical-align: middle;
	margin-left: 2%
}

#stats_percentage {
	font-weight: 600;
	font-size: 1.25em
}

#stats_attempts, #stats_last_right, #stats_last_wrong, #stats_learned,
	#stats_words {
	display: inline;
	width: 20px;
	font-weight: 600
}

#result {
	display: none;
	margin-bottom: 3px;
	border-bottom: 3px solid #e8e8e8;
	border-style: dotted;
	padding-bottom: 7px;
	margin-bottom: 9px;
	height: 1.8em
}

.trainer {
	border-bottom: 3px solid #e8e8e8;
	border-style: dotted;
	padding-bottom: 15px
}

.smaller {
	font-size: .8em
}

.informus {
	 top left no-repeat;
	background-position: 3px 0;
	padding-left: 36px
}

.mc_number {
	display: inline-block;
	vertical-align: middle;
	margin-top: -3px;
	text-align: center;
	font-weight: 600;
	color: #8c8c8c;
	font-size: .9em;
	margin-left: -6px;
	margin-right: 2px;
	border-radius: 50%;
	width: 22px;
	height: 22px;
	line-height: 22px;
	background-color: #e9e9e9
}

.mc_icon {
	display: inline-block;
	vertical-align: middle;
	margin-top: -3px;
	margin-left: -6px;
	margin-right: 2px;
	width: 22px;
	height: 22px;
	line-height: 22px
}

@media ( max-width :780px) {
	.versionleft {
		border-bottom: 1px solid #e8e8e8;
		border-right: 0;
		padding-right: 0;
		padding-bottom: 2px;
		margin-right: 0;
		margin-bottom: 6px;
		display: block;
		vertical-align: top
	}
	.versionright {
		padding-right: 5px
	}
	.circle {
		display: inline-block;
		vertical-align: middle;
		padding: 4px;
		font-size: 11px;
		height: 17px;
		width: 17px;
		text-align: center;
		border-radius: 50%;
		background-color: #fff;
		border: 3px solid #e8e8e8;
		margin-left: 0;
		margin-right: 1px;
		color: #544f4e;
		text-decoration: none
	}
	.globe {
		width: 25px;
		height: 25px;
		border: 3px solid #e8e8e8;
		padding: 0;
		margin-left: 0;
		margin-right: 1px
	}
}

@media ( max-width :628px) {
	.versionleft {
		padding-bottom: 0;
		margin-bottom: 4px
	}
	.versionright {
		padding-right: 2px
	}
	.header {
		background: #fff;
		padding: 5px;
		font-size: 12px;
		height: 17px;
		color: #544f4e;
		border: 3px solid #e8e8e8;
		vertical-align: top;
		margin-right: 1px
	}
	.globe {
		display: none
	}
}

@media ( max-width :880px) {
	.exercise-box.exercise-box-left, .exercise-box.exercise-box-right {
		display: block;
		width: auto;
		border-right: none;
		padding-left: 0;
		padding-right: 0
	}
}

@media ( max-width :480px) {
	.h1_style, h1 {
		font-size: 1.25em;
		margin-bottom: 7px;
		margin-right: 10px
	}
	.h2_style, h2 {
		font-size: 1.1em;
		margin-bottom: 2px
	}
	.h4_style, h4 {
		font-size: 1.1em
	}
	.leader h1 {
		font-size: 1.25em
	}
	.leader .main-text {
		font-size: 1em
	}
	.answers.long-answers, .answers.long-answers .answer, .answers.long-answers .answers-row
		{
		display: block;
		width: auto;
		margin-right: 0;
		margin-left: 0
	}
	.panel {
		border-radius: 0;
		border-left: 0;
		border-right: 0;
		margin-left: -1.5rem;
		margin-right: -1.5rem;
		padding-top: 1rem
	}
	.panel-header {
		margin-top: calc(-1rem - 1px);
		padding-top: 0;
		padding-bottom: 1rem
	}
	.question, .question-number {
		margin-left: 0
	}
	.question {
		margin-bottom: 3px;
		font-size: 1em
	}
	.answer {
		font-size: 1em;
		padding: 8px;
		padding-left: 12px
	}
	.answers {
		margin-left: -4px;
		width: calc(100% + 8px)
	}
	.sub-header {
		margin-top: -8px;
		padding-top: 1.5%
	}
	.flag_index {
		border: 3px solid #e8e8e8;
		padding: 1%;
		margin-right: 1.5%;
		margin-bottom: 1.5%;
		width: 44%
	}
	.hover {
		font-size: 1.1em
	}
	.logo {
		width: 150px;
		height: auto
	}
	.navbox {
		position: absolute;
		right: 22px;
		top: 20px
	}
	.circle:hover {
		color: #fb544e
	}
	.keyboard {
		display: none
	}
	.leader .container, .main .container {
		padding: 0
	}
}

.list ul {
	padding-left: 15px;
	list-style-type: disc;
	list-style-position: inside
}

.list li {
	padding-left: 15px
}

.topline {
	margin-top: 8px
}

.form input, .form select {
	border-color: #dbdbdb
}

.form label {
	font-weight: 600;
	display: block
}

.form fieldset {
	border: 0;
	padding: 0;
	margin: 0
}

.form legend {
	display: none
}

.form error {
	color: #d00;
	font-weight: 600
}

.form .importance_info {
	color: #505050;
	font-size: 12px;
	font-weight: 400
}

.form .inputbox {
	width: 98%;
	padding: .7rem;
	display: block;
	margin-bottom: 12px;
	min-width: 200px;
	max-width: 300px
}

.form .codebox {
	width: 70%;
	padding: 1%;
	display: inline-block;
	vertical-align: center;
	min-width: 80px;
	max-width: 150px
}

.form .inputerror {
	5px center no-repeat;
	background-color: #fff;
	padding-left: 33px
}

.form .innerbox {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	max-width: 300px;
	margin-bottom: 5px
}

@media ( max-width :600px) {
	.form .innerbox {
		width: 100%;
		max-width: 300px
	}
}

.form .loginbox {
	padding: 10px;
	display: block;
	font-size: 1.1em;
	margin-bottom: 6px;
	width: 85%
}

.terms {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-left: 32px;
	border-top: 3px dotted #dbdbdb;
	border-bottom: 3px dotted #dbdbdb;
	background-position: 0 10px;
	line-height: 25px;
	background-repeat: no-repeat
}

.index-flag-hidden {
	display: none
}


@media ( max-width :1000px) {
	.include-background {
		background-repeat: no-repeat;
		background-position: 100% center
	}
	.include-background.background-index {
		background-position: 100% center
	}
	.include-background.background-speaking {
		background-position: 120% center
	}
	.leader-content {
		width: 62%
	}
}

@media ( max-width :900px) {
	.include-background, .include-background.background-speaking {
		background-repeat: no-repeat;
		background-size: auto 100%;
		background-position: 140% center
	}
	.include-background.background-index {
		background-position: 100% center
	}
	.include-background.background-speaking {
		background-position: 160% center
	}
}

@media ( max-width :800px) {
	.include-background {
		background: 0 0
	}
	.include-background.background-index, .include-background.background-speaking
		{
		background: 0 0
	}
	.leader-content {
		width: auto
	}
	.leader {
		background: 0 0
	}
	.content_left, .content_right {
		width: auto;
		display: block;
		float: none;
		padding-left: 2rem;
		padding-right: 2rem
	}
	.content_right.content-screen {
		display: none
	}
	.content_right_table_th {
		display: none
	}
	.content_text_left, .content_text_right {
		padding-top: 0;
		padding-bottom: 0
	}
	.content_text_left {
		padding-top: 1%
	}
	.content_text_right {
		padding-bottom: 2%
	}

}

@media ( max-width :750px) {
	.content, .content_left, .content_right, .panel, h2.content-h2 {
		padding-left: 1.5rem;
		padding-right: 1.5rem
	}
	.panel-header {
		margin-left: -1.5rem;
		padding-left: 1.5rem;
		padding-right: 1.5rem
	}
}


@media ( max-width :620px) {

	.hide620 {
		display: none
	}
}

@media ( max-width :580px) {

	.sub-header .container .content {
		padding-right: 0
	}
}

@media ( max-width :480px) {
	.leader .container, .main .container {
		padding-top: 1.5%
	}
	.hide480 {
		display: none
	}
}

@media ( max-width :420px) {
	td.first-td {
		width: 70%
	}
	.hide420 {
		display: none
	}
	.content, .content_left, .content_right, .panel, h2.content-h2 {
		padding-left: 1rem;
		padding-right: 1rem
	}
	.panel {
		margin-left: -1rem;
		margin-right: -1rem
	}
}

@media ( max-width :360px) {
	.hide360 {
		display: none
	}
	td.first-td {
		width: auto
	}
}

.dialogue .dialogue-person1, .dialogue .dialogue-person2 {
	padding: 10px
}

.dialogue .dialogue-person1 {
	background-color: #f2f2f2
}

.dialogue .dialogue-name {
	display: inline-block;
	vertical-align: top;
	width: 120px
}

.dialogue .dialogue-text {
	display: inline-block;
	vertical-align: top;
	width: calc(100% - 120px)
}


#bugdesk .bugdesk {
	box-sizing: border-box;
	width: 90%;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	padding: 1.2rem;
	max-width: 250px;
	background-color: #fff;
	box-shadow: 0 8px 13px 7px rgba(0, 0, 0, .2);
	border-radius: 8px
}

#bugdesk .bugdesk-minified {
	position: fixed;
	bottom: .7rem;
	right: .7rem;
	border-radius: 50%;
	border: 3px solid #d4d4d4;
	width: 20px;
	height: 20px;
	padding: 3px;
	box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .05);
	text-align: center;
	font-weight: 700;
	background-color: #fff;
	cursor: pointer;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 70% auto;
	opacity: .7;
	cursor: pointer
}

#bugdesk textarea {
	box-sizing: border-box;
	width: 100%;
	padding: .8rem;
	margin: .5rem 0;
	min-height: 6rem;
	line-height: 1.3rem;
	font-family: "Open Sans"
}

#bugdesk p {
	margin-right: 25px
}

#bugdesk .bugdesk-close {
	top: .6rem;
	right: .6rem;
	width: 15px;
	height: 15px;
	background-size: 60% auto
}