<!DOCTYPE html>
<html dir="ltr" class=" svg" lang="fr">
{% load static %}
<head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="language" content="fr">

    <link rel="icon" type="image/png" sizes="32x32" href="https://deutsch.info/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://deutsch.info/favicon-16x16.png">

    <link href="{% static 'Autriche/bootstrap.css'%}" rel="stylesheet">
    <link href="{% static 'Autriche/main.css'%}" rel="stylesheet">


    <link rel="image_src" href="https://deutsch.info/images/logos/deutsch_info_logo_color_250px.png">

    <script src="{% static 'Autriche/jquery-2.js'%}"></script>
    <script src="{% static 'Autriche/jquery-ui.js'%}"></script>
    <script src="{% static 'Autriche/jquery_002.js'%}"></script>
    <script src="{% static 'Autriche/bootstrap.js'%}"></script>

    <script type="text/javascript" src="{% static 'Autriche/main.js'%}"></script>
    <script type="text/javascript" src="{% static 'Autriche/jquery.js'%}"></script>

    <script type="text/javascript" src="Autriche/select2.js"></script>
    <link href="{% static 'Autriche/select2.css'%}" rel="stylesheet">
    <link href="{% static 'Autriche/select2-bootstrap.css'%}" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'Autriche/cookieconsent.css'%}">
	<script src="{% static 'Autriche/cookieconsent.js'%}"></script>

<title>Autriche / Informations pratiques - deutsch.info</title>

<link rel="preload" href="{% static 'Autriche/integrator.js'%}" as="script"><script type="text/javascript" src="{% static 'Autriche/integrator.js'%}"></script><style></style></head>

<body class="translation">
{% include 'header.html'%}
<div id="content" class="content" style="height: auto !important;">
<ul class="breadcrumb" id="yw0">
<li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Informations pratiques <b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="{% url 'Home:germaninfo'%}">Allemagne</a>
<ul class="dropdown-menu">
<li><a href="{% url 'Home:germaninfo'%}#germany_living">Habiter</a></li>
<li><a href="{% url 'Home:germaninfo'%}#germany_work">Travailler</a></li>
<li><a href="{% url 'Home:germaninfo'%}#germany_family">Famille et enfants</a></li>
<li><a href="{% url 'Home:germaninfo'%}#germany_study">Éducation et études</a></li>
<li><a href="{% url 'Home:germaninfo'%}#germany_money">Argent et impôts</a></li>
<li><a href="{% url 'Home:germaninfo'%}#germany_insurance">Assurance maladie</a></li>
<li><a href="{% url 'Home:germaninfo'%}#germany_refugees">Informations pour les réfugiés</a></li>
</ul>
</li>
<li class="active"><a href="{% url 'Home:autricheinfo'%}">Autriche</a>
<ul class="dropdown-menu">
<li><a href="{% url 'Home:autricheinfo'%}#austria_living">Habiter</a></li>
<li><a href="{% url 'Home:autricheinfo'%}#austria_work">Travailler</a></li>
<li><a href="{% url 'Home:autricheinfo'%}#austria_family">Famille et enfants</a></li>
<li><a href="{% url 'Home:autricheinfo'%}#austria_study">Éducation et études</a></li>
<li><a href="{% url 'Home:autricheinfo'%}#austria_money">Argent et impôts</a></li>
<li><a href="{% url 'Home:autricheinfo'%}#austria_insurance">Assurance maladie</a></li>
<li><a href="{% url 'Home:autricheinfo'%}#austria_refugees">Informations pour les réfugiés</a></li>
</ul>
</li>
</ul>
</li>
<li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Autriche <b class="caret"></b></a>
<ul class="dropdown-menu">
<li><a href="https://deutsch.info/fr/essentials/austria#austria_living">Habiter</a></li>
<li><a href="https://deutsch.info/fr/essentials/austria#austria_work">Travailler</a></li>
<li><a href="https://deutsch.info/fr/essentials/austria#austria_family">Famille et enfants</a></li>
<li><a href="https://deutsch.info/fr/essentials/austria#austria_study">Éducation et études</a></li>
<li><a href="https://deutsch.info/fr/essentials/austria#austria_money">Argent et impôts</a></li>
<li><a href="https://deutsch.info/fr/essentials/austria#austria_insurance">Assurance maladie</a></li>
<li><a href="https://deutsch.info/fr/essentials/austria#austria_refugees">Informations pour les réfugiés</a></li>
</ul>
</li>
</ul>

<section class="section-sm" style="height: auto !important;">
    <div class="container frame section-list" style="height: auto !important;">
        <!--        <h1 class="text-center">-->
        <!--</h1>-->
            <div class="content-item" id="austria_living" style="height: auto !important;">
        <h2 class="line-text important" title="" rel="tooltip" data-original-title="#austria_living">Habiter</h2>

                    <div class="row">
	<div class="col-md-6">

		<h3 id="wohnungssuche">Recherche de logement</h3>
		<p>Pour rechercher un logement, il existe de nombreux portails
immobiliers qui sont pratiques. Voici une sélection de quelques sites
qui proposent des logements dans toute l’Autriche.</p>
		<ul>
			<li><a rel="nofollow" href="http://www.immobilien.net/" target="_blank">www.immobilien.net</a></li>
			<li><a rel="nofollow" href="http://www.flohmarkt.at/mietwohnung" target="_blank">www.flohmarkt.at/mietwohnung</a></li>
			<li><a rel="nofollow" href="http://www.immowelt.at/immobilienmaerkte/wohnungsmarkt.aspx?geoid=103" target="_blank">www.immowelt.at</a></li>
			<li><a rel="nofollow" href="http://www.wohnnet.at/wohnungen-in-oesterreich.htm#1" target="_blank">www.wohnnet.at</a></li>
			<li><a rel="nofollow" href="http://www.immobilienscout24.at/?ftc=1011001619&amp;kw=wohnungssuche%20%2B%C3%B6sterreich" target="_blank">www.immobilienscout24.at</a></li>
		</ul>
		<p>Dans ces sites immobiliers, le loyer est généralement indiqué sans
les charges (« Nettomiete »). Celui-ci ne couvre que les frais liés à la
 mise à disposition de l’appartement. La somme réelle que le locataire
paie au propriétaire est appelée « Bruttomiete ». En plus du loyer de
base, celle-ci comporte les charges. Les charges comprennent par exemple
 l’eau, le ramassage des ordures et d’autres frais liés à l’entretien de
 l’immeuble.</p>

        <p class="warning-block"><span class="label label-warning">Attention</span>
 Il arrive souvent que l’électricité ne soit pas comprise dans les
charges ! Vous devez donc toujours vous informer au préalable sur les
frais qui sont inclus dans les charges.</p>

		<h3 id="mietvertrag">Contrat de location</h3>
		<p>Un contrat de location établit par écrit les droits et les devoirs
du locataire et du propriétaire. Le contrat de location doit désigner
nommément le locataire et le propriétaire et lister tous les locaux
annexes inclus dans la location (par exemple un garage, une cave…) et
les objets loués. De plus, il doit préciser le loyer total (loyer de
base et charges) et, dans le cas d’une location temporaire, la durée de
la location. Dans le cas des locations temporaires, comme il n’y a que
très peu de cas où il est légalement possible de mettre fin au contrat,
il est préférable d’inclure une clause de résiliation dans le contrat de
 location.</p>

		<h3 id="mietvertrag_kuendigen">Résilier un bail</h3>
		<p>Le contrat de location peut être résilié aussi bien par le
locataire que par le propriétaire. Dans les deux cas, il existe des
périodes de préavis légales à respecter si l’on veut résilier le bail.
Généralement, pour les contrats de location à durée indéterminée, la
période de préavis est d’un mois. Pour les locations à durée déterminée,
 il faut respecter la période de préavis précisée dans le contrat.</p>
		<p>Voici un exemple de lettre de résiliation de contrat de location&nbsp;: <a rel="nofollow" href="http://ooe.arbeiterkammer.at/beratung/konsumentenschutz/wohnen/Beendigung_des_Mietverhaeltnisses.html" target="_blank">www.arbeiterkammer.com</a></p>


		<h3 id="meldeservice">Enregistrement au bureau de déclaration de domicile</h3>
		<p>Toute personne résidant en Autriche doit s’enregistrer auprès du
bureau de déclaration de domicile. On peut effectuer cette démarche en
personne ou par courrier. Les mineurs doivent être enregistrés par leur
responsable légal. Pour accomplir l’enregistrement, il faut un
formulaire de déclaration de domicile. On peut l’obtenir sur Internet,
au bureau d’enregistrement ou dans les bureaux de tabac.</p>
		<p>Formulaire de déclaration de domicile à télécharger&nbsp;: <a rel="nofollow" href="https://www.help.gv.at/Portal.Node/hlpd/public/resources/documents/meldez.pdf" target="_blank">www.help.gv.at</a></p>


		<h3 id="telefon">Téléphone, Internet et téléphone portable</h3>
		<p>Le téléphone et la connexion à Internet sont souvent fournis par le même opérateur. Voici quelques liens à ce sujet&nbsp;:</p>
		<ul>
			<li><a rel="nofollow" href="http://geizhals.at/isp" target="_blank">http://geizhals.at</a></li>
			<li><a rel="nofollow" href="http://www.handy-tarifvergleich.net/" target="_blank">www.handy-tarifvergleich.net</a></li>
			<li><a rel="nofollow" href="http://www.wieistmeineip.at/dsl-anbieter" target="_blank">www.wieistmeineip.at</a></li>
		</ul>

	</div>
	<div class="col-md-6">

		<h3 id="strom">Électricité, gaz et chauffage</h3>
		<p>Pour recevoir l’électricité, le gaz et le chauffage, tournez-vous
en temps voulu vers le fournisseur d’énergie. Depuis la libéralisation
du marché de l’énergie en Autriche, tout le monde peut choisir son
fournisseur d’électricité et de gaz.</p>
		<p>Voici des informations pour comparer les compagnies d’électricité&nbsp;: <a rel="nofollow" href="https://durchblicker.at/energievergleich" target="_blank">www.durchblicker.at</a></p>
		<p>Et voilà une comparaison des prix du gaz&nbsp;:</p>
		<ul>
			<li><a rel="nofollow" href="https://durchblicker.at/gas/vergleich/haushalt" target="_blank">durchblicker.at</a></li>
			<li><a rel="nofollow" href="http://www.e-control.at/de/konsumenten/gas/lieferanten-waehlen/der-tarifkalkulator" target="_blank">www.e-control.at</a></li>
		</ul>


		<h3 id="gis">Redevance audiovisuelle</h3>
		<p>La redevance audiovisuelle doit être payée pour tous les postes
(radio, télévision, ordinateur). La redevance varie d’une région à
l’autre et elle s’élève à 20 à 25 euros par mois environ.</p>
		<p><a rel="nofollow" href="https://www.gis.at/" target="_blank">www.gis.at</a></p>


		<h3 id="muell">Tri des déchets</h3>
		<p>L’Autriche a l’un des taux de recyclage les plus élevés au monde.
La grande majorité des foyers autrichiens trie soigneusement ses
déchets. Comme il existe des différences régionales dans le tri des
déchets, il faut se renseigner auprès des services municipaux. Le
non-respect des règles de tri des déchets peut conduire à une plainte et
 une amende.</p>
		<p><b>Papier&nbsp;:</b> on jette dans cette benne le papier, le carton, les journaux, les catalogues, les livres et les magazines.</p>
		<p><b>Verre&nbsp;:</b> le verre doit d’abord être trié par couleur. On
 distingue le verre blanc, vert et marron. Les couvercles des bocaux
doivent être enlevés (on les jette dans la poubelle jaune). On ne jette
pas les bouteilles consignées dans le conteneur à verre.</p>
		<p><b>Emballages en plastique&nbsp;:</b> on jette dans cette poubelle
les emballages en plastique (bouteilles en plastique, films plastiques,
plastiques divers…), les matériaux composites (Tetra Pak, emballages de
café, briques de lait…) et les bouchons de bouteilles et couvercles de
pots en verre.</p>
		<p><b>Emballages en métal&nbsp;:</b> on y jette les emballages en
métal (feuilles d’aluminium, canettes…) et les autres petits déchets
métalliques (fils, ustensiles de cuisine, clous et vis). Les gros
déchets métalliques (fours, cuisinières, baignoires) doivent être
apportées au centre de recyclage, à la déchetterie ou à la décharge.</p>
		<p><b>Les matières polluantes sont triées à part&nbsp;:</b> les
matières polluantes doivent être séparées parce qu’elles peuvent nuire à
 l’environnement en cas de traitement incorrect. Cette catégorie inclut
les piles, les batteries, les ampoules à faible consommation, les
médicaments, les laques et les pesticides. Ces objets peuvent être
apportés soit au magasin où ils ont été achetés, soit à la déchetterie
de la commune.</p>
		<p><b>Les déchets biodégradables vont dans la poubelle prévue à cet effet&nbsp;:</b>
 on jette dans la poubelle pour déchets biodégradables (qui peut être
marron ou verte selon les régions) les restes de fruits et de légumes,
les peaux de fruits, les restes de café, les sachets de thé, les déchets
 de jardin et les essuie-tout en papier.</p>
		<p><b>Tout le reste va dans la poubelle pour les déchets résiduels&nbsp;:</b>
 selon les régions, il peut s’agir d’un conteneur noir ou gris. On y
jette tous les déchets qui ne vont pas dans les autres poubelles :
caoutchouc, cendres, mégots, cuir, articles d’hygiène, couches…</p>
		<p>Vous trouverez ici davantages d’informations pour trier correctement vos déchets.</p>
        <ul>
            <li><a rel="nofollow" href="http://www.richtigsammeln.at/richtig-sammeln/abfalltrenn.html" target="_blank">www.richtigsammeln.at</a></li>
            <li><a rel="nofollow" href="http://www.muelltonne.at/muelltrennung" target="_blank">www.muelltonne.at</a></li>
        </ul>

	</div>
</div><!-- row-fluid -->

    </div>
    <div class="content-item" id="austria_work">
        <h2 class="line-text important" title="#austria_work" rel="tooltip">Travailler</h2>

                    <div class="row">
	<div class="col-md-6">

		<h3 id="jobsuche">Chercher un emploi</h3>
		<p>En règle générale, les ressortissants des pays de l’Union
européenne qui veulent travailler en Allemagne n’ont pas besoin de
permis de travail. Les règles temporaires valables pour les nouveaux
pays de l’UE (Roumanie et Bulgarie) font figure d’exception.</p>
		<p>Les ressortissants d’autres pays, en revanche, doivent avoir un
titre «&nbsp;Séjour permanent — EG&nbsp;», une «&nbsp;Carte
rouge-blanc-rouge plus&nbsp;» ou un certificat d’immigration. Avoir l’un
 de ces documents est généralement suffisant pour avoir un emploi. Ceux
qui n’ont pas ces documents doivent avoir une autorisation conforme à la
 loi sur l’emploi des étrangers afin de pouvoir exercer une activité
professionnelle en Autriche.</p>
		<ul>
			<li>Service du marché du travail : <a rel="nofollow" href="http://www.ams.at/sfa.html" target="_blank">www.ams.at</a></li>
			<li>Reconnaissance professionnelle en Autriche : <a rel="nofollow" href="http://www.berufsanerkennung.at/" target="_blank">www.berufsanerkennung.at</a></li>
			<li>Carte rouge-blanc-rouge : <a rel="nofollow" href="http://www.migration.gv.at/de/formen-der-zuwanderung/dauerhafte-zuwanderung-rot-weiss-rot-karte.html" target="_blank">www.migration.gv.at</a></li>
		</ul>
		<p>Liens pour chercher un travail en Autriche :</p>
		<ul>
			<li><a rel="nofollow" href="http://www.karriere.at/" target="_blank">www.karriere.at</a></li>
			<li><a rel="nofollow" href="http://www.jobkralle.at/" target="_blank">www.jobkralle.at</a></li>
			<li><a rel="nofollow" href="http://www.jobisjob.at/" target="_blank">www.jobisjob.at</a></li>
			<li><a rel="nofollow" href="http://www.simplyhired.at/" target="_blank">www.simplyhired.at</a></li>
			<li><a rel="nofollow" href="http://www.jobabc.at/" target="_blank">www.jobabc.at</a></li>
		</ul>
		<p>Modèles pour un bon CV :</p>
		<ul>
			<li><a rel="nofollow" href="http://www1.arbeiterkammer.at/aws/schule_zur_lehre/vorlagen_fuer_lebenslauf_und_bewerbungsschreiben.pdf" target="_blank">www1.arbeiterkammer.at</a></li>
			<li><a rel="nofollow" href="http://bewerbung.careesma.at/category/lebenslauf" target="_blank">http://bewerbung.careesma.at</a></li>
			<li><a rel="nofollow" href="http://karriere-journal.monster.at/lebenslauf-anschreiben/lebenslauf-muster/der-musterlebenslauf-31148/article.aspx" target="_blank">http://karriere-journal.monster.at</a></li>
		</ul>

		<h3 id="arbeitsvertrag">Contrat de travail</h3>
		<p>Le contrat de travail est conclu entre l’employeur et l’employé
afin d’obliger l’employé à faire le travail promis et l’employeur à
payer le salaire convenu. Ce contrat définit les devoirs de l’employé et
 de l’employeur. En principe, le contrat de travail peut être informel,
mais dans tous les cas cas l’employeur doit remettre une fiche de
service (Dienstzettel) à l’employé. Cette fiche est une présentation
succincte des accords passés et des droits et obligations essentiels.</p>
		<p>L’employé et l’employeur ont tous les deux le droit de mettre fin
au contrat de travail. La démission ou le licenciement peut être
effectué par écrit ou par oral, mais, pour des raisons de preuve, il est
 recommandé de l’annoncer par écrit. Si ce n’est pas précisé dans le
contrat de travail, le délai de préavis pour un contrat à durée
indéterminée est d’un mois pour une démission. Pour l’employeur, le
délai de préavis dépend de la durée du travail et varie de 6 semaines à 5
 mois. Dans le cas des contrats à durée déterminée, la durée du contrat
doit être respectée, mais des délais de préavis peuvent être précisés
dans le contrat.</p>
		<p>Lien vers un formulaire de démission gratuit :</p>
		<ul>
			<li><a rel="nofollow" href="http://www.wissenswertes.at/index.php?id=muster-kuendigung-an" target="_blank">www.wissenswertes.at</a></li>
			<li><a rel="nofollow" href="http://www.kuendigung-vorlagen.de/Kuendigung-Arbeitsvertrag-Vorlage" target="_blank">www.kuendigung-vorlagen.de</a></li>
		</ul>

	</div>
	<div class="col-md-6">

		<h3 id="arbeitsarten">Types d’emplois</h3>
		<p><b>Temps de travail normal :</b> la loi prévoit une durée de
travail de huit heures par jour. Cependant, de nombreuses conventions
collectives de travail prévoient un temps de travail raccourci.</p>
		<p class="warning-block"><span class="label label-warning">Attention</span> Convenez par écrit de la répartition de vos heures de travail&nbsp;!</p>
		<p><b>Travail à temps partiel :</b> les employés à temps partiel ont
en général une semaine de travail plus courte que les employés à temps
plein. Ce type d’emploi résulte d’un accord entre l’employeur et
l’employé</p>
		<p><b>Activité professionnelle mineure :</b> ce type d’emploi est
aussi une occupation à temps partiel. Les personnes effectuant une
activité professionnelle mineure sont assurées seulement contre les
accidents, et pas contre les maladies ou pour la retraite. Elles ont
cependant droit à des jours de congés, des congés maladie, des primes,
des dédommagements, etc.</p>
		<p><b>Chômage partiel :</b> c’est la réduction temporaire du temps de
travail en raison d’une baisse significative d’activité dans une
entreprise. Il peut concerner tous ou seulement une partie des employés.</p>
		<p><b>Temps partiel pour parents et personnes âgées :</b> les parents
qui ont des enfants de moins de 7 ans et qui remplissent d’autres
conditions ont le droit à un temps partiel pour parents. Le temps
partiel pour personnes âgées donnent la possibilité aux employés plus
âgés de réduire leur temps de travail.</p>
		<p><b>Travail indépendant :</b> se mettre à travailler à son compte
est considéré comme une création d’entreprise. La création d’entreprises
 est soutenue par le ministère du travail, de la politique sociale et de
 la protection des consommateurs au moyen de microcrédits. Aide pour
créer son entreprise&nbsp;:</p>
		<ul>
			<li><a rel="nofollow" href="http://portal.wko.at/wk/format_detail.wk?angid=1&amp;stid=507225&amp;dstid=0&amp;titel=Der%2CWeg%2Cin%2Cdie%2CSelbstst%C3%A4ndigkeit" target="_blank">http://portal.wko.at</a></li>
			<li><a rel="nofollow" href="http://www.gruenderservice.at/startseite.wk" target="_blank">www.gruenderservice.at</a></li>
			<li><a rel="nofollow" href="http://www.dermikrokredit.at/" target="_blank">www.dermikrokredit.at</a></li>
		</ul>


		<h3 id="europass">Europass</h3>
		<p>Europass est un service gratuit de l’Union européenne qui a pour
but de soutenir la mobilité en Europe. Il permet de présenter ses
qualifications, compétences et aptitudes d’une manière compréhensible
dans toute l’Europe. Europass peut aider pendant les études, les
formations ou la recherche d’emploi. Les documents Europass disponibles
sont : CV, passeport de langues, supplément descriptif au certificat,
Europass Mobilité et supplément au diplôme.</p>
		<p>À propos d’Europass : <a rel="nofollow" href="http://www.europass-info.de/" target="_blank">www.europass-info.de</a></p>

	</div>
</div><!-- row-fluid -->

    </div>
    <div class="content-item" id="austria_family">
        <h2 class="line-text important" title="#austria_family" rel="tooltip">Famille et enfants</h2>

                    <div class="row">
	<div class="col-md-6">
		<h3 id="schulwesen">Le système éducatif</h3>
		<p>L’éducation est obligatoire pour tous les enfants qui résident en
Autriche. Elle commence l’année pendant laquelle le sixième anniversaire
 de l’enfant a lieu avant le 1er septembre. L’éducation obligatoire dure
 9 ans en Autriche.</p>
		<p>École maternelle obligatoire : tous les enfants qui ont 5 ans avant le 1er septembre doivent aller à l’école maternelle&nbsp;: <a rel="nofollow" href="http://www.wien.gv.at/amtshelfer/gesellschaft-soziales/magelf/bewilligungsverfahren/kindergartenjahr.html" target="_blank">www.wien.gv.at</a></p>

		<h3 id="kindergeld">Allocations familiales</h3>
		<p>Les citoyens autrichiens et de l’UE, ainsi que les étrangers
résidant en Autriche, ont droit aux allocations familiales
(Kinderbetreuungsgeld), s’ils vivent avec leur enfant dans le même
foyer. Cela est valable pour tous les enfants qui ont moins de 18 ans.
Les allocations familiales doivent être demandées au service fiscal du
lieu de résidence. Chaque bénéficiaire des allocations familiales a
aussi droit à une déduction des impôts.</p>

	</div>
	<div class="col-md-6">
		<h3 id="schulsystem">Organisation du système scolaire autrichien</h3>
		<p><b>Instruction élémentaire :</b> vous avez le choix entre les
institutions de garde d’enfants suivantes&nbsp;: crèche, école
maternelle, garderie et groupe d’enfants.</p>
		<p><b>Instruction primaire :</b> l’éducation obligatoire en Autriche
commence avec l’instruction primaire. À ce niveau, l’enfant va à l’école
 primaire (Volksschule). Elle dure quatre ans.</p>
		<p><b>Instruction secondaire I :</b> l’instruction secondaire I
commence à la fin du niveau primaire. Elle dure aussi 4 ans pendant
lesquels les élèves ont plusieurs choix à leur disposition&nbsp;: lycée
(Volksschul-Oberstufe), école secondaire de cycle court (Hauptschule),
nouveau collège (Mittelschule) ou premier cycle d’une école supérieure
générale.</p>
		<p><b>Instruction secondaire II :</b> elle suit le niveau secondaire
I. Les élèves ont les choix suivante&nbsp;: écoles polytechniques,
écoles professionnelles et apprentissage, collèges de formation
professionnelle, formations aux métiers de la santé, écoles supérieures
professionnelles, second cycle d’une école supérieure générale ou année
de stage préprofessionnel avec formation professionnelle intégrée.</p>
		<p>Après le niveau secondaire II, les élèves ont la possibilité de
poursuivre leurs études dans le secteur tertiaire, non universitaire.
Ils peuvent aller à une école technique, un collège ou par exemple une
académie des métiers de la santé.</p>
		<p>Aperçu du système éducatif autrichien&nbsp;: <a rel="nofollow" href="http://www.bmukk.gv.at/schulen/bw/index.xml" target="_blank">www.bmukk.gv.at</a></p>
	</div>
</div>
    </div>
    <div class="content-item" id="austria_study">
        <h2 class="line-text important" title="#austria_study" rel="tooltip">Éducation et études</h2>

                    <div class="row">
	<div class="col-md-6">

		<h3 id="anforderungen">Conditions pour les étudiants étrangers</h3>
		<p>Globalement, les conditions d’admission sont les mêmes pour les
étudiants autrichiens et les étrangers. Pour obtenir des informations
concrètes, tournez-vous vers les administrations universitaires
concernées. Conditions préalables pour l’admission des étudiants&nbsp;:</p>
		<ul>
			<li>Diplôme de baccalauréat équivalent au diplôme autrichien ou
certificat de fin d’études dans une institution reconnue d’études
post-secondaires. L’équivalence est fondée sur un accord
intergouvernemental, une procédure de reconnaissance ou la décision du
recteur.</li>
			<li>Ce certificat doit un accès direct au cursus souhaité dans le
pays où il a été obtenu. Cela ne s’applique généralement pas aux
candidats de l’UE et de l’espace économique européen.</li>
			<li>Connaissance suffisante de la langue allemande.</li>
		</ul>

		<h3 id="sprache">Connaissances linguistiques préalables</h3>
		<p>Dans la plupart des filières en Autriche, la langue de
l’enseignement est l’allemand. Une connaissance préalable de l’allemand à
 un niveau B2 du Cadre européen commun de référence pour les langues est
 requise. On peut prouver son niveau d’allemand au moyen de l’un des
tests suivants&nbsp;:</p>
		<ul>
			<li>diplôme de langue autrichien — B2,</li>
			<li>institut Goethe — certificat Goethe B2,</li>
			<li>test d’allemand en tant que langue étrangère (Test DaF) — au moins niveau 4,</li>
			<li>quelques autres tests reconnus.</li>
		</ul>
		<p>Si vous n’avez pas de certificat, vous pouvez aussi passer un test de niveau dans un centre d’examen.</p>
		<p>Vous pouvez évaluer vos chances avec le <a rel="nofollow" href="http://www.testdaf.de/teilnehmer/tn-vorbereitung_test.php?id=1" target="_blank">test de préparation de TestDaF</a>.</p>


		<h3 id="kosten">Coût des études en Autriche</h3>
		<p>Le coût des études en Autriche est dans la moyenne européenne. En
moyenne, les étudiants dépensent environ 800 euros par mois. Pour
étudier en Autriche, il faut prendre en compte les dépenses
suivantes&nbsp;:</p>
		<ul>
			<li>frais d’inscription,</li>
			<li>autres coûts associés,</li>
			<li>coût de l’assurance maladie,</li>
			<li>dépenses générales.</li>
		</ul>
		<p><b>Frais d’inscription :</b> en Autriche, les frais d’inscription
doivent être payés par les étudiants qui ont dépassé la période gratuite
 (durée minimale des études plus deux semestres) ou qui, à cause de leur
 nationalité, doivent payer une cotisation. Les étudiants de l’UE et de
l’espace économique européen sont dispensés de frais d’inscription.</p>
		<p><b>Autres coûts associés :</b> pendant les études, il faut prendre
en compte d’autres dépenses. Ils s’agit des coûts de l’acquisition des
livres, des excursions ou de l’équipement informatique.</p>
		<p><b>Assurance maladie :</b> un étudiant en Autriche peut être assuré
 avec ses parents ou prendre une assurance maladie pour étudiants. Avoir
 une assurance maladie est un prérequis pour renouveler son permis de
séjour en Autriche. Si l’étudiant ne remplit pas les conditions pour
contracter une assurance pour étudiant, il peut prendre une assurance
personnelle, plus chère.</p>
		<p class="warning-block"><span class="label label-warning">Attention</span>
 Vérifiez par avance si votre assurance maladie est valable en Autriche.
 Les citoyens de l’UE sont assurés en Autriche par la carte européenne
d’assurance maladie (CEAM).</p>
		<p><b>Dépenses générales :</b> ces dépenses incluent le coût de la
nourriture, des vêtements et du logement, qui représentent en moyenne un
 tiers des dépense liées aux études. Pour les étudiants, il existe
plusieurs possibilités d’hébergement dont les plus accessibles sont les
résidences étudiantes et les colocations.</p>
		<p>Les <b>résidences étudiantes</b> représentent la possibilité la
plus simple pour rencontrer de nouvelles personnes et apprendre la
langue. Le prix varie de 200 à 400 euros. Toutes les résidences
étudiantes d’Autriche sont listées ici&nbsp;:</p>
		<ul>
			<li><a rel="nofollow" href="http://www.studium.at/studentenheime" target="_blank">www.studium.at</a></li>
			<li><a rel="nofollow" href="http://www.studentenheime.eu/" target="_blank">www.studentenheime.eu</a></li>
		</ul>
		<p>Les <b>colocations</b> (WG) sont aussi très populaires chez les
étudiants autrichiens. Chaque colocataire a sa chambre, la salle de bain
 et la cuisine sont en commun. Le prix d’une chambre en colocation varie
 de 150 à 300 euros.</p>
		<p>Trouvez une colocation sur Internet&nbsp;:</p>
		<ul>
			<li><a rel="nofollow" href="http://www.wgzimmer.at/wgzimmer.html" target="_blank">www.wgzimmer.at</a></li>
			<li><a rel="nofollow" href="http://www.easywg.at/" target="_blank">www.easywg.at</a></li>
			<li><a rel="nofollow" href="http://www.wg-klick.at/" target="_blank">www.wg-klick.at</a></li>
			<li><a rel="nofollow" href="http://www.olx.at/wg-zimmervermietung-cat-301" target="_blank">www.olx.at</a></li>
		</ul>
		<p>Si vous voulez habiter dans votre <b>propre appartement</b>, vous
devez chercher avant le début des études. Le prix dépend beaucoup de la
taille, de la qualité et de l’emplacement. Dans votre propre
appartement, il faut vous charger vous-même de vous abonner à
l’électricité, au gaz, au téléphone et à Internet. Le propriétaire peut
exiger une caution ou le remboursement des charges.</p>
        <p>Il est plus facile de trouver un appartement sur Internet&nbsp;:</p>
		<ul>
			<li><a rel="nofollow" href="http://www.wohnenboerse.at/" target="_blank">www.wohnenboerse.at</a></li>
			<li><a rel="nofollow" href="http://www.studenteninserate.at/wohnungsboerse/index.php" target="_blank">www.studenteninserate.at</a></li>
			<li><a rel="nofollow" href="http://www.immobilien.net/Wohnungen/Oesterreich/treffer.aspx" target="_blank">www.immobilien.net</a></li>
			<li><a rel="nofollow" href="http://www.jobwohnen.at/" target="_blank">www.jobwohnen.at</a></li>
			<li><a rel="nofollow" href="hhttp://www.flohmarkt.at/mietwohnung">www.flohmarkt.at/mietwohnung</a></li>
			<li><a rel="nofollow" href="http://www.immowelt.at/immobilienmaerkte/wohnungsmarkt.aspx?geoid=103" target="_blank">www.immowelt.at</a></li>
			<li><a rel="nofollow" href="http://www.wohnnet.at/wohnungen-in-oesterreich.htm#1" target="_blank">www.wohnnet.at</a></li>
			<li><a rel="nofollow" href="http://www.immobilienscout24.at/?ftc=1011001619&amp;kw=wohnungssuche%20%2B%C3%B6sterreich" target="_blank">www.immobilienscout24.at</a></li>
		</ul>

	</div>
	<div class="col-md-6">

		<h3 id="finanzierung">Possibilités de financement des études</h3>
		<p>Dans la base de donné autrichienne des bourses, vous trouverez des
informations sur les possibilités de financer vos études avec une
bourse&nbsp;: <a rel="nofollow" href="http://www.grants.at/" target="_blank">www.grants.at/</a></p>
		<p>Vous trouverez aussi plein d’informations sur les études en Autriche sur le site du <a rel="nofollow" href="http://www.ciu.at/" target="_blank">Centre International Universitaire</a> (CIU).</p>

		<h3 id="weiterbildung">Possibilités de formation continue</h3>
		<p>La formation continue a une place importante dans la politique
éducative autrichienne. La formation professionnelle a pour but à la
fois de contribuer à l’évolution technologique et économique et d’aider à
 surmonter les changements sociaux.</p>
		<p>Vous trouverez sur Internet des renseignements sur les possibilités de formation continue&nbsp;:</p>
		<ul>
			<li><a rel="nofollow" href="http://www.bmwfj.gv.at/BERUFSAUSBILDUNG/LEHRBERUFEINOESTERREICH/Seiten/default.aspx" target="_blank">www.bmwfj.gv.at</a></li>
			<li><a rel="nofollow" href="http://www.ams.at/buw.html" target="_blank">www.ams.at/buw.html</a></li>
			<li><a rel="nofollow" href="http://www.bic.at/" target="_blank">www.bic.at</a></li>
			<li><a rel="nofollow" href="http://www.bib-atlas.at/" target="_blank">www.bib-atlas.at</a></li>
			<li><a rel="nofollow" href="http://www.bfi.at/links/erwachsenenbildung_in_oesterreich" target="_blank">www.bfi.at</a></li>
		</ul>

		<h3 id="universitaeten">Universités en Autriche</h3>

		<dl class="">
			<dt>Wien</dt>
			<dd>
				<a rel="nofollow" href="http://www.univie.ac.at/" target="_blank">Universität Wien</a><br>
				<a rel="nofollow" href="http://www.meduniwien.ac.at/homepage" target="_blank">Medizinische Universität Wien</a><br>
				<a rel="nofollow" href="http://www.tuwien.ac.at/" target="_blank">Technische Universität Wien</a><br>
				<a rel="nofollow" href="http://www.boku.ac.at/" target="_blank">Universität für Bodenkultur Wien</a><br>
				<a rel="nofollow" href="http://www.wu.ac.at/" target="_blank">Wirtschaftsuniversität Wien</a><br>
				<a rel="nofollow" href="http://www.vu-wien.ac.at/" target="_blank">Veterinärmedizinische Universität Wien</a><br>
				<a rel="nofollow" href="http://www.akbild.ac.at/" target="_blank">Akademie der bildenden Künste</a><br>
				<a rel="nofollow" href="http://www.dieangewandte.at/" target="_blank">Universität für angewandte Kunst in Wien</a><br>
				<a rel="nofollow" href="http://www.mdw.ac.at/" target="_blank">Universität für Musik und darstellende Kunst in Wien</a>			</dd>
			<dt>Graz</dt>
			<dd>
				<a rel="nofollow" href="http://www.meduni-graz.at/" target="_blank">Medizinische Universität Graz</a><br>
				<a rel="nofollow" href="http://www.tugraz.at/" target="_blank">Technische Universität Graz</a><br>
				<a rel="nofollow" href="http://www.uni-graz.at/" target="_blank">Universität Graz (Karl-Franzens-Universität Graz)</a><br>
				<a rel="nofollow" href="http://www.kug.ac.at/" target="_blank">Universität für Musik und Darstellende Kunst Graz</a><br>
			</dd>
			<dt>Krems</dt>
			<dd><a rel="nofollow" href="http://www.donau-uni.ac.at/de/index.php" target="_blank">Universität für Weiterbildung Krems (Donau-Universität Krems)</a></dd>
			<dt>Leoben</dt>
			<dd><a rel="nofollow" href="http://www.unileoben.ac.at/" target="_blank">Montanuniversität Leoben</a></dd>
			<dt>Linz</dt>
			<dd>
				<a rel="nofollow" href="http://www.jku.at/content" target="_blank">Universität Linz (Johannes Kepler Universität Linz)</a><br>
				<a rel="nofollow" href="http://www.ufg.ac.at/" target="_blank">Kunst Universität Linz</a>			</dd>
			<dt>Salzburg</dt>
			<dd>
				<a rel="nofollow" href="http://www.uni-salzburg.at/" target="_blank">Universität Salzburg (Paris-Lodron-Universität Salzburg)</a><br>
				<a rel="nofollow" href="http://www.moz.ac.at/de" target="_blank">Universität für Musik und darstellende Kunst (Mozarteum Salzburg)</a>			</dd>
			<dt>Innsbruck</dt>
			<dd>
				<a rel="nofollow" href="http://www.uibk.ac.at/" target="_blank">Universität Innsbruck (Leopold-Franzens-Universität Innsbruck)</a><br>
				<a rel="nofollow" href="https://www.i-med.ac.at/mypoint" target="_blank">Medizinische Universität Innsbruck</a>			</dd>
			<dt>Klagenfurt</dt>
			<dd><a rel="nofollow" href="http://www.uni-klu.ac.at/main/inhalt/1.htm" target="_blank">Alpen-Adria-Universität Klagenfurt</a></dd>
		</dl>
		<p>Privatuniversitäten Österreichs: <a rel="nofollow" href="http://www.akkreditierungsrat.at/cont/de/pu_institutionen.aspx" target="_blank">www.akkreditierungsrat.at</a></p>
		<p>Fachhochschulen in Österreich: <a rel="nofollow" href="http://www.fachhochschulen.at/Studieren/Fachhochschulen.htm" target="_blank">www.fachhochschulen.at</a></p>


	</div>
</div><!-- row-fluid -->

    </div>
    <div class="content-item" id="austria_money">
        <h2 class="line-text important" title="#austria_money" rel="tooltip">Argent et impôts</h2>

                    <div class="row">
	<div class="col-md-6">
		<h3 id="einkommenssteuer">Impôt sur le revenu</h3>
		<p>La déclaration d’impôts sur le revenu doit être remplie par toutes
les personnes privées imposables. Elle sert à déterminer le montant de
l’impôt sur le revenu. Dans la plupart des cas, la déclaration doit être
 soumise avant le 30 avril de l’année suivante. Pour ce faire, il faut
remplir le formulaire E1&nbsp;; le formulaire E2 sert à aider à le
remplir correctement.</p>
		<p>On peut soumettre la déclaration d’impôts sur le revenu au moyen de
 l’application FinanzOnline du site Internet du ministère des finances
autrichien&nbsp;:		<a rel="nofollow" href="https://www.bmf.gv.at/" target="_blank">www.bmf.gv.at</a></p>
		<h3 id="konto">Ouvrir un compte bancaire</h3>
		<p>Il est relativement facile d’ouvrir un compte en banque en
Autriche, même pour les étrangers. Il faut un passeport et, dans
certaines banques, un justificatif de domicile. Après l’ouverture du
compte courant, un conseiller est attribué au titulaire. Celui-ci est
disponible pour répondre aux questions et aux demandes. En Autriche, on
peut facilement gérer son compte par téléphone, fax ou Internet.</p>
	</div>
	<div class="col-md-6">
		<h3 id="ksv">Association de protection du crédit</h3>
		<p>L’association de protection de crédit (Kreditschutzverband, KSV) de
 1870 est la plus grande association de protection des créanciers
d’Autriche. Chaque personne qui fait un emprunt en Autriche, y compris
un crédit bancaire ou un achat à crédit, est enregistrée dans la base de
 données d’une association de protection de crédit. La solvabilité de la
 personne est déterminée par sa discipline en matière de paiements. Pour
 faire un emprunt à la banque, il faut entre autres des informations du
KSV. Les gens qui souhaitent savoir quelles données les concernant sont
présentes dans la base de données peuvent demander cette information
directement à <a rel="nofollow" href="http://www.ksv.at/KSV/1870/de/4privatpersonen/1selbstauskunft/index.html" target="_blank">KSV</a>.</p>
	</div>
</div>
    </div>
    <div class="content-item" id="austria_insurance">
        <h2 class="line-text important" title="#austria_insurance" rel="tooltip">Assurance maladie</h2>

                    <div class="row">
	<p>En Autriche, l’assurance maladie est une <b>assurance obligatoire</b>.
 Cela signifie que tous les employés sont assurés. L’assurance dépend
des employeurs et de leur lieu d’implantation. La cotisation pour
l’assurance est directement déduite du salaire et reversée à l’assurance
 en même temps que la cotisation versée par l’employeur. Le montant de
la cotisation dépend du salaire brut de l’assuré.</p>
	<p class="warning-block"><span class="label label-warning">Attention</span>
	Les employés dont le salaire est inférieur au seuil minimal ne sont pas
 automatiquement assurés. Vous pouvez néanmoins vous assurer
volontairement auprès des assurances maladie et retraite compétentes. Le
 montant de la cotisation est le même pour toutes les personnes qui
s’assurent elles-mêmes.</p>
	<p>En Autriche, il est possible de prendre en plus une <b>assurance privée</b>.
 Celle-ci peut couvrir, par exemple, en plus du choix du médecin et de
l’hôpital, une chambre d’hôpital double avec douche, toilettes et
télévision&nbsp;; elle peut aussi couvrir les frais supplémentaires des
visites chez le dentiste ou les thérapies alternatives. À côté de
l’assurance maladie, il existe plusieurs autres types d’assurances
(assurance contre les accidents ou pour les véhicules). Vous trouverez
plus d’information sur le site de l’association des assurances
autrichiennes&nbsp;:	<a rel="nofollow" href="http://www.vvo.at/" target="_blank">www.vvo.at</a></p>
</div>
    </div>
    <div class="content-item" id="austria_refugees">
        <h2 class="line-text important" title="#austria_refugees" rel="tooltip">Informations pour les réfugiés</h2>

                    <h3 id="infos">Informations pour les réfugiés/demandeurs d’asile</h3>

<ul>
    <li>Office fédéral pour l’asile : <a rel="nofollow" href="http://www.bfa.gv.at/" target="_blank">www.bfa.gv.at</a></li>
    <li>Formulaires utiles : <a rel="nofollow" href="http://www.bfa.gv.at/publikationen/formulare" target="_blank">www.bfa.gv.at/publikationen/formulare</a></li>
    <li>Ministère de l’intérieur : <a rel="nofollow" href="http://www.bmi.gv.at/" target="_blank">www.bmi.gv.at</a></li>
    <li>Fonds social de Vienne : <a rel="nofollow" href="http://wohnen.fsw.at/broschueren/brosch_grundversorgung.html" target="_blank">wohnen.fsw.at/broschueren/brosch_grundversorgung.html</a></li>
    <li>Coordination des réfugiés de Vienne : <a rel="nofollow" href="http://fsw.at/fluechtlinge" target="_blank">fsw.at/fluechtlinge</a></li>
    <li>Fonds d’intégration autrichien : <a rel="nofollow" href="http://www.integrationsfonds.at/" target="_blank">www.integrationsfonds.at</a></li>
    <li>Coordination de l’asile : <a rel="nofollow" href="http://www.asyl.at/" target="_blank">www.asyl.at</a></li>
    <li>Faits relatifs l’asile en Autriche : <a rel="nofollow" href="http://www.unhcr.at/unhcr/in-oesterreich/fluechtlingsland-oesterreich/fakten-zu-asyl-in-oesterreich.html" target="_blank">www.unhcr.at</a></li>
    <li>Helping Hands (fournit entre autres des conseils juridiques pour les réfugiés) : <a rel="nofollow" href="http://www.helpinghands.at/" target="_blank">www.helpinghands.at</a></li>
    <li>Offres de bénévoles pour les réfugiés : <a rel="nofollow" href="http://www.wirsinddabei.at/" target="_blank">www.wirsinddabei.at</a></li>
    <li>Agence pour l’emploi : <a rel="nofollow" href="http://www.ams.at/" target="_blank">www.ams.at</a></li>
    <li>Informations actuelles pour les réfugiés :  <a rel="nofollow" href="http://www.tkinfo.at/en/asylum-law-advice" target="_blank">www.tkinfo.at/en/asylum-law-advice</a></li>
    <li>Portail d’offres de colocation : <a rel="nofollow" href="http://www.fluechtlinge-willkommen.at/" target="_blank">www.fluechtlinge-willkommen.at</a></li>
    <li>Projet : Des vélos pour les réfugiés :  <a rel="nofollow" href="http://www.integradsion.at/" target="_blank">www.integradsion.at</a></li>
</ul>

<h3 id="hilfsorganisationen">Organisations humanitaires</h3>
<ul>
    <li><a rel="nofollow" href="http://www.samariterbund.net/" target="_blank">www.samariterbund.net</a></li>
    <li><a rel="nofollow" href="https://diakonie.at/" target="_blank">www.diakonie.at</a></li>
    <li><a rel="nofollow" href="https://www.caritas.at/" target="_blank">www.caritas.at</a></li>
    <li><a rel="nofollow" href="https://www.roteskreuz.at/" target="_blank">www.roteskreuz.at</a></li>
</ul>
    </div>
    </div>
</section>

       </div><!-- content -->
{% include 'footer.html'%}
</body>
</html>