.general
{
background :  #e6e6e6 fixed no-repeat;
border : 2px solid black ;

}
h1{
font-family :Courier New;

text-align : center ;
background: url('german-flag(1).jpg')  ;
background-size: cover ;
}
.retour {
font-size : medium ;
color : #ff944d;

}
button:hover {

}
form{
margin : 100px;
}
#msg
{
font-size : 18px;
color : orange ;
}