.photo {
float :reel ;
padding:10px;
margin :10px;
width:420px;
height :320px;
border:2px solid black ;
}
.firstp
{
display : flex;
flex-direction : row ;
flex:1;
align-items :center;
float :reel ;
font-family:Georgia ;
border : 0.5px inset #e6e6e6;
background : url("alimane.jpg");
}
p{
padding:10px;
margin :10px;
}
h1{
text-align :center ;
color : #ffcc66;
}
